Xcursor.theme: phinger-cursors-light

! Xterm settings
XTerm*renderFont: true
XTerm*faceName: xft:Iosevka Nerd Font, \
                xft:Unifont:size=12, \
                xft:Luxi Mono:style=Medium:size=12   
XTerm*faceSize: 11
XTerm.vt100.translations: #override \n\
  Ctrl <Key> minus: smaller-vt-font() \n\
  Ctrl <Key> plus: larger-vt-font() \n\
  Ctrl <Key> 0: set-vt-font(d)
XTerm.vt100.scrollBar: false

! Xterm colors
XTerm*background:  #283430
XTerm*foreground:  #c4dec3
! Black + DarkGrey
XTerm*color0:  #21222c
XTerm*color8:  #545454
! DarkRed + Red
XTerm*color1:  #ff5555
XTerm*color9:  #ff6e6e
! DarkGreen + Green
XTerm*color2:  #50fa7b
XTerm*color10: #69ff94
! DarkYellow + Yellow
XTerm*color3:  #ffcb6b
XTerm*color11: #fff06b
! DarkBlue + Blue
XTerm*color4:  #82aaff
XTerm*color12: #acc5ff
! DarkMagenta + Magenta
XTerm*color5:  #c792ea
XTerm*color13: #ff92df
! DarkCyan + Cyan
XTerm*color6:  #8be9fd
XTerm*color14: #a4ffff
! LightGrey + White
XTerm*color7:  #f8f9f2
XTerm*color15: #f6f6f5
