* {
  accent1:          #FABD2F;
  accent2:          #D79921;
  button-gradient:  linear-gradient(90, #FABD2F, #D79921);
  background-alpha: #32302Ff7;
  background:       #32302F;
  background-light: #3C3836;
  background-focus: #504945;
  foreground:       #FBF1C7;
  foreground-list:  #FBF1C7;
  on:               #98971A;
  off:              #CC241D;
  urgent:           #D65D0E;
}
