* {
  accent1:          #83A598;
  accent2:          #458588;
  button-gradient:  linear-gradient(90, #83A598, #458588);
  background-alpha: #282828f7;
  background:       #282828;
  background-light: #2a2a2a;
  background-focus: #504945;
  foreground:       #FBF1C7;
  foreground-list:  #FBF1C7;
  on:               #689D6A;
  off:              #CC241D;
  urgent:           #D79921;
}
