[Unit]
Description="Zypper Refresh"
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/zypper ref
