[Desktop Entry]
X-SuSE-DocTeamID=ycc_messages
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Misc;

X-KDE-ModuleType=Library
X-KDE-RootOnly=true
X-KDE-HasReadOnlyMode=true
X-SuSE-YaST-Call=view_anymsg

X-SuSE-YaST-Group=Misc
X-SuSE-YaST-Argument=/var/log/messages
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=
X-SuSE-YaST-Keywords=system,log,messages

Icon=yast-messages
Exec=/sbin/yast2 view_anymsg /var/log/messages

Name=System Log
Name[ar]=سجل النظام
Name[bg]=Системен журнал
Name[ca]=Historial del sistema
Name[cs]=Systémový protokol
Name[da]=Systemlog
Name[de]=Systemprotokoll
Name[el]=Καταγραφές συστήματος
Name[es]=Registro del sistema
Name[fi]=Järjestelmäloki
Name[fr]=Journal du système
Name[gl]=Rexistro de sistema
Name[hu]=Rendszernapló
Name[id]=Log Sistem
Name[it]=Log di sistema
Name[ja]=システムログ
Name[ko]=시스템 로그
Name[lt]=Sistemos žurnalas
Name[nb]=Systemlogg
Name[nl]=Systeemlog
Name[pl]=Dziennik systemowy
Name[pt_BR]=Log do sistema
Name[ro]=Jurnal de sistem
Name[ru]=Системный журнал
Name[sk]=Systémový záznam
Name[sl]=Sistemski dnevnik
Name[sv]=Systemlog
Name[tr]=Sistem Günlüğü
Name[uk]=Системний журнал
Name[zh_CN]=系统日志
Name[zh_TW]=系統日誌
GenericName=Display the system's log (/var/log/messages)
GenericName[ar]=عرض سجل النظام (/var/log/messages)
GenericName[bg]=Прегледна системния дневник (/var/log/messages)
GenericName[ca]=Vegeu l'historial del sistema (/var/log/messages)
GenericName[cs]=Zobrazit systémový protokol (/var/log/messages)
GenericName[da]=Vis systemloggen (/var/log/messages)
GenericName[de]=Anzeigen des Systemprotokolls (/var/log/messages)
GenericName[el]=Προβολή καταγραφών συστήματος (/var/log/messages)
GenericName[es]=Mostrar el registro del sistema (/var/log/messages)
GenericName[fi]=Näytä järjestelmän loki (/var/log/messages)
GenericName[fr]=Afficher les journaux du système (/var/log/messages)
GenericName[gl]=Amosar o rexistro de sistema (/var/log/messages)
GenericName[hu]=Rendszernapló megjelenítése (/var/log/messages)
GenericName[id]=Tampilkan log system (/var/log/messages)
GenericName[it]=Mostra i log di sistema (/var/log/messages)
GenericName[ja]=システムログ (/var/log/messages) の表示
GenericName[ko]=시스템 로그(/var/log/messages) 표시
GenericName[lt]=Rodyti sistemos žurnalą (/var/log/messages)
GenericName[nb]=Vis systemloggen (/var/log/messages)
GenericName[nl]=De systeemlog (/var/log/messages) tonen
GenericName[pl]=Wyświetl dziennik systemowy (/var/log/messages)
GenericName[pt_BR]=Exibe o log do sistema (/var/log/messages)
GenericName[ro]=Afișează jurnalul sistemului (/var/log/messages)
GenericName[ru]=Показать системный журнал (/var/log/messages)
GenericName[sk]=Zobraziť systémový záznam (/var/log/messages)
GenericName[sl]=Prikaz sistemskega dnevnika /var/log/messages
GenericName[sv]=Visa systemets logg (/var/log/messages)
GenericName[tr]=Sistemin günlüğünü görüntüle (/var/log/messages)
GenericName[uk]=Показати системний журнал (/var/log/messages)
GenericName[zh_CN]=显示系统日志（/var/log/messages）
GenericName[zh_TW]=顯示系統日誌 (/var/log/messages)
X-KDE-SubstituteUID=true
StartupNotify=true
Hidden=true
