[Desktop Entry]
X-SuSE-DocTeamID=ycc_org.opensuse.yast.Journal
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-System;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-SuSE-YaST-Call=journal

X-SuSE-YaST-Group=Misc
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=

Icon=yast-journal
Exec=/sbin/yast2 journal

Name=YaST Systemd Journal
Name[ca]=Diari del Systemd del YaST
Name[cs]=YaST žurnál Systemd
Name[da]=YaST Systemd-journal
Name[de]=YaST Systemd-Journal
Name[el]=YaST Systemd Journal
Name[es]=Diario de systemd de YaST
Name[fi]=YaST – Systemd-loki
Name[fr]=Journal systemd YaST
Name[id]=Jurnal Systemd YaST
Name[it]=YaST journal di systemd
Name[ja]=YaST systemd ジャーナル
Name[lt]=YaST systemd žurnalas
Name[nl]=YaST journaal van systemd
Name[pt_BR]=YaST Journal systemd
Name[ro]=YaST Jurnal Systemd
Name[ru]=YaST Журнал systemd
Name[sk]=YaST Žurnál systemd
Name[sl]=Dnevnik systemd (YaST)
Name[sv]=YaST Systemd journal
Name[uk]=YaST Журнал Systemd
Name[zh_CN]=YaST Systemd 日志
Name[zh_TW]=YaST Systemd 日誌
GenericName=Systemd Journal
GenericName[ar]=Systemd Journal
GenericName[bg]=Дневник на Systemd
GenericName[ca]=Diari del Systemd
GenericName[cs]=Žurnál Systemd
GenericName[da]=Systemd-Journal
GenericName[de]=Systemd-Journal
GenericName[el]=Systemd Journal
GenericName[es]=Diario de systemd
GenericName[fi]=Systemd-loki
GenericName[fr]=Journal systemd
GenericName[gl]=Xornal systemd
GenericName[hu]=Systemd-napló
GenericName[id]=Jurnal Sistem
GenericName[it]=Journal di systemd
GenericName[ja]=systemd ジャーナル
GenericName[ko]=Systemd 저널
GenericName[lt]=Systemd žurnalas
GenericName[nl]=Journaal van systemd
GenericName[pl]=Dziennik systemd
GenericName[pt_BR]=Journal systemd
GenericName[ro]=Jurnal Systemd
GenericName[ru]=Журнал systemd
GenericName[sk]=Žurnál systemd
GenericName[sl]=Dnevnik systemd
GenericName[sv]=Systemd journal
GenericName[uk]=Журнал Systemd
GenericName[zh_CN]=Systemd 日志
GenericName[zh_TW]=Systemd 日誌
Comment=Read systemd journal entries
Comment[ar]=قراءة معلومات وبيانات systemd
Comment[bg]=Преглед на дневника на Systemd
Comment[ca]=Llegiu les entrades del diari del Systemd
Comment[cs]=Přečíst položky žurnálu systemd
Comment[da]=Læs systemd journalindgange
Comment[de]=systend Journaleinträge lesen
Comment[el]=Ανάγνωση καταχωρήσεων systemd journal
Comment[es]=Leer entradas de diario de systemd
Comment[fi]=Lue systemd:n lokitietueet
Comment[fr]=Lire les entrées du journal systemd
Comment[gl]=Ler as entradas do xornal systemd
Comment[hu]=Systemd-napló bejegyzéseinek olvasása
Comment[id]=Baca entri jurnal systemd
Comment[it]=Leggi le voci del journal di systemd
Comment[ja]=systemd ジャーナル項目の読み込み
Comment[ko]=systemd 저널 항목 읽기
Comment[lt]=Skaityti Systemd žurnalų įrašus
Comment[nl]=Journaal-items van systemd lezen
Comment[pl]=Czytaj wpisy dziennika systemd
Comment[pt_BR]=Ler entradas do journal systemd
Comment[ro]=Citiți intrările din jurnalul systemd
Comment[ru]=Читать записи журнала systemd
Comment[sk]=Čítať položky žurnálu systemd
Comment[sl]=Branje zapisov dnevnika systemd
Comment[sv]=Läs systemd journal
Comment[uk]=Читати записи журналу systemd
Comment[zh_CN]=读取 systemd 日志项
Comment[zh_TW]=讀取 systemd 日誌
StartupNotify=true
Hidden=true
