[Desktop Entry]
X-SuSE-DocTeamID=ycc_org.opensuse.yast.RelocationServer
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Virtualization;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-SuSE-YaST-Call=relocation-server

X-SuSE-YaST-Group=Virtualization
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=
X-SuSE-YaST-Keywords=vm,virtualization

Icon=yast-vm-migrate
Exec=/usr/bin/xdg-su -c "/sbin/yast2 relocation-server"

Name=YaST Relocation Server
Name[ca]=Servidor de reubicació del YaST
Name[cs]=YaST relokační server
Name[da]=YaST Genplaceringsserver
Name[de]=YaST Relocation-Server
Name[el]=Διακομιστής εγκατάστασης
Name[es]=Servidor de reubicación de YaST
Name[fi]=YaST uudelleensijoituspalvelin
Name[fr]=Serveur de relocalisation YaST
Name[id]=Peladen Relokasi YaST
Name[it]=YaST server di rilocazione
Name[ja]=YaST サーバ再配置
Name[nl]=YaST relocatieserver
Name[pt_BR]=YaST Servidor de instalação
Name[ro]=YaST Server de relocare
Name[ru]=YaST Сервер релокации
Name[sk]=YaST Relokačný server
Name[sl]=Premestitveni strežnik (YaST)
Name[sv]=YaST Installationsserver
Name[uk]=YaST Сервер переміщення
Name[zh_CN]=YaST 重定位服务器
Name[zh_TW]=YaST 重新配置伺服器
GenericName=Relocation Server Configuration
GenericName[ar]=إعداد خادم الترحيل
GenericName[ca]=Configuració del servidor de reubicació
GenericName[cs]=Konfigurace relokačního serveru
GenericName[da]=Konfiguration af genplaceringsserver
GenericName[de]=Umzug der Server-Konfiguration
GenericName[el]=Διαμόρφωση διακομιστή μετεγκατάστασης
GenericName[es]=Configuración del servidor de reubicación
GenericName[fi]=Siirtopalvelimen kokoonpano
GenericName[fr]=Configuration du serveur de relocation
GenericName[gl]=Configurar o servidor de recolocación
GenericName[hu]=Áthelyezési kiszolgáló konfigurációja
GenericName[id]=Konfigurasi Peladen Relokasi
GenericName[it]=Configurazione del server di rilocazione
GenericName[ja]=サーバの再配置設定
GenericName[ko]=재배치 서버 구성
GenericName[lt]=Perkėlimo serverio konfigūravimas
GenericName[nl]=Configuratie van relocatie-server
GenericName[pl]=Konfiguracja serwera relokacji
GenericName[pt_BR]=Configuração do servidor de realocação
GenericName[ro]=Configurarea serverului de relocare
GenericName[ru]=Настройка relocation-сервера
GenericName[sk]=Konfigurácia relokačného servera
GenericName[sl]=Premestitveni strežnik
GenericName[sv]=Konfigurering av omflyttningsserver
GenericName[uk]=Конфігурація сервера перерозподілу
GenericName[zh_CN]=重定位服务器配置
GenericName[zh_TW]=重新配置伺服器組態
Comment=Configure Host for Virtual Machine Migration
Comment[ar]=إعداد مضيف الهجرة للجهاز الظاهري
Comment[bg]=Настрой хост за миграция към виртуална машина
Comment[ca]=Configura l'amfitrió per a migració d'equips virtuals
Comment[cs]=Konfigurace hostitele pro migraci virtuálního stroje
Comment[da]=Konfigurér vært til migrering af virtuel maskine
Comment[de]=Host für die Migration einer Virtuellen Maschine konfigurieren
Comment[el]=Ρύθμιση συστήματος για μεταφορά εικονικής μηχανής
Comment[es]=Configure el anfitrión para la migración de máquinas virtuales
Comment[fi]=Aseta palvelin virtuaalikoneen siirtoon
Comment[fr]=Configurer l’hôte pour la migration de machines virtuelles
Comment[gl]=Configurar o hóspede para a migración de máquina virtual
Comment[hu]=Gép konfigurálása a virtuális gépek áttelepítéséhez
Comment[id]=Konfigurasikan Host untuk Virtual Machine Migration
Comment[it]=Configura l'host per la migrazione di macchine virtuali
Comment[ja]=仮想マシンの移行向けホスト設定
Comment[ko]=가상 시스템 마이그레이션 호스트 구성
Comment[lt]=Konfigūruoti virtualios mašinos migravimą
Comment[nl]=Host configureren voor virtuele machine migratie
Comment[pl]=Konfiguruj hosta do migracji maszyny wirtualnej
Comment[pt_BR]=Configure o hospedeiro para a migração de máquinas virtuais
Comment[ro]=Configurați gazda pentru migrarea mașinii virtuale
Comment[ru]=Настроить хост для миграции виртуальных машин
Comment[sk]=Konfigurovať hostiteľa pre migráciu virtuálneho stroja
Comment[sl]=Nastavitev gostitelja za migracijo navideznega računalnika
Comment[sv]=Konfigurera värd för migrering av virtuell maskin
Comment[uk]=Налаштування вузла для міграції віртуальної машини
Comment[zh_CN]=配置主机以迁移虚拟机
Comment[zh_TW]=設定虛擬機器移轉的主機
StartupNotify=true
Hidden=true
