[Desktop Entry]
X-SuSE-DocTeamID=ycc_org.opensuse.yast.AddOn
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Software;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-SuSE-YaST-Call=add-on

X-SuSE-YaST-Group=Software
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=configure
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstPath=install
X-SuSE-YaST-AutoInstResource=add-on
X-SuSE-YaST-AutoInstSchema=add-on.rnc
X-SuSE-YaST-AutoInstClonable=true
X-SuSE-YaST-Keywords=update,packages,repositories,software

Icon=yast-addon
Exec=xdg-su -c "/sbin/yast2 add-on"

Name=YaST Add-On Products
Name[ca]=Productes complementaris del YaST
Name[cs]=Rozšiřující produkty YaST
Name[da]=YaST Tillægsprodukter
Name[de]=YaST Zusatz-Produkte
Name[el]=Προϊόντα προσθέτων YaST
Name[es]=Productos adicionales de YaST
Name[fi]=YaST – Lisäosat
Name[fr]=Produits complémentaires de YaST
Name[id]=Produk Tambahan YaST
Name[it]=YaST Prodotti aggiuntivi
Name[ja]=YaST アドオン製品
Name[lt]=YaST papildomi produktai
Name[nl]=YaST add-on producten
Name[pl]=Dodatkowe Produkty YaST
Name[pt_BR]=YaST Produtos complementares
Name[ro]=YaST Produse suplimentare
Name[ru]=YaST Дополнительные продукты
Name[sk]=YaST Prídavné produkty
Name[sl]=Dodatni izdelki (YaST)
Name[sv]=YaST Tilläggsprodukter
Name[tr]=YaST Eklenti Ürünler
Name[uk]=YaST Додаткові продукти
Name[zh_CN]=YaST 附加产品
Name[zh_TW]=YaST 附加的產品
GenericName=Add-On Products
GenericName[ar]=منتجات الوظيفة الإضافية
GenericName[bg]=Допълнителни продукти
GenericName[ca]=Productes complementaris
GenericName[cs]=Rozšiřující produkty
GenericName[da]=Tillægsprodukter
GenericName[de]=Zusatz-Produkte
GenericName[el]=Προϊόντα προσθέτων
GenericName[es]=Productos adicionales
GenericName[et]=Lisatooted
GenericName[fi]=Lisäosat
GenericName[fr]=Produits complémentaires
GenericName[gl]=Complementos engadidos
GenericName[hr]=Dodatni proizvodi
GenericName[hu]=Kiegészítő termékek
GenericName[id]=Produk Tambahan
GenericName[it]=Prodotti aggiuntivi
GenericName[ja]=アドオン製品
GenericName[km]=ផលិតផល​​បន្ថែម
GenericName[ko]=Add-On 제품
GenericName[lt]=Papildomi produktai
GenericName[nb]=Tilleggsprodukter
GenericName[nl]=Add-on producten
GenericName[pa]=ਐਂਡ-ਆਨ ਪਰੋਡੱਕਟ
GenericName[pl]=Produkty dodatkowe
GenericName[pt]=Produtos Adicionais
GenericName[pt_BR]=Produtos complementares
GenericName[ro]=Produse suplimentare
GenericName[ru]=Дополнительные продукты
GenericName[sk]=Prídavné produkty
GenericName[sl]=Dodatni izdelki
GenericName[sv]=Tilläggsprodukter
GenericName[th]=ผลิตภัณฑ์เสริมต่าง ๆ
GenericName[tr]=Eklenti Ürünler
GenericName[uk]=Додаткові продукти
GenericName[wa]=Prodûts d' rawete
GenericName[zh_CN]=附加产品
GenericName[zh_TW]=附加的產品
Comment=Install or remove add-on products
Comment[ar]=تثبيت أو إزالة المنتجات الإضافية
Comment[bg]=Инсталиране и премахване на доптлнителни продукти
Comment[ca]=Instal·leu o suprimiu productes complementaris
Comment[cs]=Instalace nebo odstranění balíčků rozšířujících produktů
Comment[da]=Installér og fjern tillægsprodukter
Comment[de]=Zusatz-Produkte installieren oder entfernen
Comment[el]=Εγκάσταση ή αφαίρεση πρόσθετων προϊόντων
Comment[es]=Instalar o quitar productos adicionales
Comment[et]=Lisatoodete paigaldamine ja emaldamine
Comment[fi]=Asenna tai poista lisäosia
Comment[fr]=Installer ou supprimer des produits complémentaires
Comment[gl]=Instalar ou quitar complementos
Comment[hr]=Instaliraj ili ukloni dodatne proizvode
Comment[hu]=Kiegészítő termékek telepítése vagy eltávolítása
Comment[id]=Pasang atau hapus produk tambahan
Comment[it]=Installa o rimuovi i prodotti aggiuntivi
Comment[ja]=アドオン製品のインストールと削除
Comment[km]=ដំឡើង ឬ​​យក​ផលិតផល​បន្ថែម
Comment[ko]=Add-On 제품 설치 및 제거
Comment[lt]=Įdiegti arba pašalinti papildomus produktus
Comment[nb]=Installer eller fjern tilleggsprodukter
Comment[nl]=Installeer en verwijder addon-producten
Comment[pa]=ਐਡ-ਆਨ ਪੈਕੇਜ ਇੰਸਟਾਲ ਕਰੋ ਜਾਂ ਹਟਾਓ
Comment[pl]=Zainstaluj lub usuń produkty dodatkowe
Comment[pt]=Instalar ou remover productos adicionais
Comment[pt_BR]=Instale ou remova produtos complementares
Comment[ro]=Instalați sau eliminați produse suplimentare
Comment[ru]=Установить или удалить дополнительные продукты
Comment[sk]=Inštalovať alebo odstrániť prídavné produkty
Comment[sl]=Namesti in odstrani dodatne izdelke
Comment[sv]=Installera eller ta bort tilläggsprodukter
Comment[th]=ติดตั้งหรือลบผลิตภัณฑ์เสริม
Comment[tr]=Eklenti ürünleri yükleme veya kaldırma
Comment[uk]=Встановити або вилучити додаткові продукти
Comment[wa]=Astaler ou disastaler des prodûts d' rawete
Comment[zh_CN]=安装或移除附加产品
Comment[zh_TW]=安裝與移除附加產品
StartupNotify=true
Hidden=true
