[Desktop Entry]
X-SuSE-DocTeamID=ycc_org.opensuse.yast.VirtualizationConfig
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Virtualization;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-SuSE-YaST-Call=virtualization

X-SuSE-YaST-Group=Virtualization
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoinstResource=
X-SuSE-YaST-Keywords=vm,virtualization

Icon=yast-vm-install
Exec=/usr/bin/xdg-su -c "/sbin/yast2 virtualization"

Name=YaST Install VM
Name[ca]=Instal·lació de màquina virtual del YaST
Name[cs]=YaST instalace VM
Name[da]=YaST Installer VM
Name[de]=YaST installiere VM
Name[el]=Εγκατάσταση VM YaST
Name[es]=Instalación de MV de YaST
Name[fi]=YaST – Asenna virtuaalikone
Name[fr]=Machine virtuelle d'installation YaST
Name[id]=Pasang VM YaST
Name[it]=VM installazione YaST
Name[ja]=YaST VM インストール
Name[lt]=YaST virtualių mašinų diegimas
Name[nl]=YaST VM installeren
Name[pt_BR]=YaST Instalar VM
Name[ro]=YaST Instalați VM
Name[ru]=YaST Установить ВМ
Name[sk]=YaST Inštalácia VM
Name[sl]=Namesti navidezni računalnik (YaST)
Name[sv]=YaST Installera VM
Name[uk]=YaST Встановлення VM
Name[zh_CN]=YaST 安装 VM
Name[zh_TW]=YaST 安裝 VM
GenericName=Install Hypervisor and Tools
GenericName[ar]=تثبيت مراقب الأجهزة الافتراضية وأدوات
GenericName[ca]=Instal·lació d'hipervisor i eines
GenericName[cs]=Instalovat Hypervisor a nástroje
GenericName[da]=Installér Hypervisor og værktøjer
GenericName[de]=Hypervisor und Tools installieren
GenericName[el]=Εγκατάσταση Hypervisor και εργαλείων
GenericName[es]=Instalar hipervisor y herramientas
GenericName[fi]=Asenna virtuaalikone työkaluineen
GenericName[fr]=Installer un hyperviseur et ses outils
GenericName[gl]=Instalar Hypervisor e ferramentas
GenericName[hu]=Hipervizor és eszközök telepítése
GenericName[id]=Pasang Hypervisor dan Perkakas
GenericName[it]=Installa hypervisor e strumenti relativi
GenericName[ja]=ハイパーバイザとツールのインストール
GenericName[ko]=하이퍼바이저 및 도구 설치
GenericName[lt]=Įdiegti sistemos prižiūrykles ir įrankius
GenericName[nl]=Hypervisor en hulpprogramma's installeren
GenericName[pl]=Zainstaluj hiperwizor i narzędzia
GenericName[pt_BR]=Instalando o hipervisor e ferramentas
GenericName[ro]=Instalați hipervizor și instrumente
GenericName[ru]=Установить гипервизор и инструменты
GenericName[sk]=Nainštalovať Hypervisor a nástroje
GenericName[sl]=Namesti hipervizorja in orodja
GenericName[sv]=Installera Hypervisor och verktyg
GenericName[uk]=Встановлення гіпервізора та утиліт
GenericName[zh_CN]=安装 Hypervisor 和工具
GenericName[zh_TW]=安裝監管程式和工具
Comment=Install Xen or KVM with Management Tools
Comment[ar]=تثبيت Xen أو KVM مع أدوات إدارة
Comment[ca]=Instal·lació de Xen o KVM amb eines de gestió
Comment[cs]=Instalovat Xen nebo KVM (klávesnice-video-myš) s nástroji správy
Comment[da]=Installér Xen eller KVM med håndteringsværktøjer
Comment[de]=XEN oder KVM mit Management-Tools installieren
Comment[el]=Εγκατάσταση Xen ή KVM με εργαλεία διαχείρισης
Comment[es]=Instalar Xen o KVM con herramientas de gestión
Comment[fi]=Asenna Xen tai KVM hallintatyökaluineen
Comment[fr]=Installer Xen ou KVM avec leurs outils de gestion
Comment[gl]=Instalar Xen ou KVM co xestor de ferramentas
Comment[hu]=Xen vagy KVM telepítése felügyeleti eszközökkel
Comment[id]=Pasang Xen atau KVM dengan Pengelola Perkakas
Comment[it]=Installa Xen o KVM con gli strumenti di gestione
Comment[ja]=Xen または KVM および管理ツールのインストール
Comment[ko]=관리 도구로 Xen 또는 KVM 설치
Comment[lt]=Įdiegti Xen arba KVM su jų valdymo įrankiais
Comment[nl]=Xen of KVM installeren met beheerhulpmiddelen
Comment[pl]=Zainstaluj Xen lub KVM z narzędziami zarządzającymi
Comment[pt_BR]=Instalando o Xen ou KVM com ferramentas de gerenciamento
Comment[ro]=Instalați Xen sau KVM cu instrumente de gestionare
Comment[ru]=Установить Xen или KVM с инструментами управления
Comment[sk]=Nainštalovať Xen alebo KVM pomocou nástrojov na správu
Comment[sl]=Namestitev Xen ali KVM z orodji za upravljanje
Comment[sv]=Installera Xen eller KVM med hanteringsverktyg
Comment[uk]=Встановлення Xen чи KVM із засобами управління
Comment[zh_CN]=安装 Xen 或 KVM 及其管理工具
Comment[zh_TW]=安裝 Xen 或 KVM 及管理工具
X-KDE-SubstituteUID=true
StartupNotify=true
Hidden=true

