[Desktop Entry]
X-SuSE-DocTeamID=ycc_org.opensuse.yast.Firewall
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Security;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-SuSE-YaST-Call=firewall

X-SuSE-YaST-Group=Security
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=all
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstClonable=true
X-SuSE-YaST-AutoInstRequires=lan
X-SuSE-YaST-AutoInstSchema=firewall.rnc
X-SuSE-YaST-AutoInstResource=firewall
X-SuSE-YaST-Keywords=security,network

Icon=yast-firewall
Exec=xdg-su -c "/sbin/yast2 firewall"

Name=YaST Firewall
Name[ca]=Tallafoc del YaST
Name[cs]=YaST Firewall
Name[da]=YaST Firewall
Name[de]=YaST Firewall
Name[el]=Τείχος προστασίας YaST
Name[es]=Cortafuegos de YaST
Name[fi]=YaST – Palomuuri
Name[fr]=Pare-feu YaST
Name[id]=Firewall YaST
Name[it]=YaST Firewall
Name[ja]=YaST ファイアウオール
Name[lt]=YaST užkarda
Name[nl]=YaST firewall
Name[pt_BR]=YaST Firewall
Name[ru]=YaST Брандмауэр
Name[sk]=YaST Firewall
Name[sl]=Požarni zid (YaST)
Name[sv]=YaST Brandvägg
Name[tr]=YaST Güvenlik Duvarı
Name[uk]=YaST Фаєрвол
Name[zh_CN]=YaST 防火墙
Name[zh_TW]=YaST 防火牆
GenericName=Firewall
GenericName[af]=Brandmuur
GenericName[ar]=جدار الحماية
GenericName[bg]=Защитна стена
GenericName[ca]=Tallafoc
GenericName[cs]=Firewall
GenericName[da]=Firewall
GenericName[de]=Firewall
GenericName[el]=Τείχος προστασίας
GenericName[es]=Cortafuegos
GenericName[et]=Tulemüür
GenericName[fi]=Palomuuri
GenericName[fr]=Pare-feu
GenericName[gl]=Devasa
GenericName[hr]=Vatrozid
GenericName[hu]=Tűzfal
GenericName[id]=Firewall
GenericName[it]=Firewall
GenericName[ja]=ファイアウオール
GenericName[km]=ជញ្ជាំងភ្លើង
GenericName[ko]=방화벽
GenericName[lt]=Užkarda
GenericName[nb]=Brannmur
GenericName[nl]=Firewall
GenericName[pa]=ਫਾਇਰਵਾਲ
GenericName[pl]=Zapora sieciowa
GenericName[pt]=Firewall
GenericName[pt_BR]=Firewall
GenericName[ro]=Paravan de protecție
GenericName[ru]=Брандмауэр
GenericName[sk]=Firewall
GenericName[sl]=Požarni zid
GenericName[sv]=Brandvägg
GenericName[ta]=பெயர்(ஃபயர்வால்.டெஸ்க்டாப்): ஃபயர்வால்
GenericName[th]=ไฟร์วอลล์
GenericName[tr]=Güvenlik Duvarı
GenericName[uk]=Фаєрвол
GenericName[wa]=Côpe feu
GenericName[xh]=i-Firewall
GenericName[zh_CN]=防火墙
GenericName[zh_TW]=防火牆
Comment=Configure a firewall
Comment[af]=Konfigureer 'n brandmuur
Comment[ar]=إعداد جدار حماية
Comment[bg]=Настройка на защитната стена
Comment[ca]=Configureu un tallafoc
Comment[cs]=Konfigurovat firewall
Comment[da]=Konfigurér firewall
Comment[de]=Eine Firewall einrichten
Comment[el]=Ρύθμιση τείχους προστασίας
Comment[es]=Configurar el cortafuegos
Comment[et]=Tulemüüri häälestamine
Comment[fi]=Määritä palomuuri
Comment[fr]=Configurer un pare-feu
Comment[gl]=Configurar unha devasa
Comment[hr]=Podesi vatrozid
Comment[hu]=Tűzfal konfigurálása
Comment[id]=Konfigurasikan firewall
Comment[it]=Configura un firewall
Comment[ja]=ファイアウォールの設定
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ជញ្ជាំងភ្លើង
Comment[ko]=방화벽 설정
Comment[lt]=Konfigūruoti užkardą
Comment[nb]=Sett opp en brannmur
Comment[nl]=Firewall instellen
Comment[pa]=ਇੱਕ ਫਾਇਰਵਾਲ ਸੰਰਚਨਾ
Comment[pl]=Konfiguruj zaporę sieciową
Comment[pt]=Configurar uma firewall
Comment[pt_BR]=Configure um firewall
Comment[ro]=Configurați un paravan de protecție
Comment[ru]=Настроить брандмауэр
Comment[sk]=Konfigurovať firewall
Comment[sl]=Nastavitev požarnega zidu
Comment[sv]=Brandväggsinställningar för avancerade användare
Comment[ta]=இனப்பெயர்(ஃபயர்வால்.டெஸ்க்டாப்): ஃபயர்வாலை உள்ளமைக்கிறது
Comment[th]=ปรับแต่งไฟร์วอลล์
Comment[tr]=İleri kullanıcılar için firewall ayarları
Comment[uk]=Налаштування фаєрволу
Comment[wa]=Apontyî on côpe-feu
Comment[xh]=Yenza ubumbeko lwe-firewall
Comment[zh_CN]=配置防火墙
Comment[zh_TW]=設定防火牆
StartupNotify=true
Hidden=true
