[Desktop Entry]
X-SuSE-DocTeamID=ycc_org.opensuse.yast.Vendor
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Misc;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-SuSE-YaST-Call=vendor

X-SuSE-YaST-Group=Misc
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=
X-SuSE-YaST-Keywords=vendor,cd,driver,update,packages,repositories,software

Icon=yast-vendor
Exec=xdg-su -c "/sbin/yast2 vendor"

Name=YaST Vendor Driver
Name[ca]=Controlador de proveïdor del YaST
Name[cs]=YaST ovladač od výrobce
Name[da]=YaST Leverandørdriver
Name[de]=YaST Hersteller-Treiber
Name[el]=CD οδηγού κατασκευαστή
Name[es]=Controlador de proveedor de YaST
Name[fi]=YaST – Valmistajan ajurit
Name[fr]=Pilote du fournisseur YaST
Name[id]=Penggerak Vendor YaST
Name[it]=Driver fornitore YaST
Name[ja]=YaST 製造元ドライバ
Name[lt]=Gamintojo tvarkyklės
Name[nl]=YaST leveranciersapparaatstuurprogramma
Name[pl]=Sterowniki Dostawcy YaST
Name[pt_BR]=YaST Driver do fabricante
Name[ro]=YaST Driverul furnizorului
Name[ru]=YaST Драйверы производителя
Name[sk]=YaST Ovládač od dodávateľa
Name[sl]=Prodajalčev gonilnik (YaST)
Name[sv]=YaST leverantörsdrivrutin
Name[tr]=YaST Satıcı Sürücüsü
Name[uk]=YaST Драйвери виробника
Name[zh_CN]=YaST 厂商驱动
Name[zh_TW]=YaST 廠商驅動程式
GenericName=Vendor Driver
GenericName[ca]=Controlador de proveïdor
GenericName[cs]=Ovladač od výrobce
GenericName[da]=Leverandørdriver
GenericName[de]=Hersteller-Treiber
GenericName[el]=Οδηγός κατασκευαστή
GenericName[es]=Controlador del proveedor
GenericName[fi]=Valmistajan laiteajurit
GenericName[fr]=Pilote du fournisseur
GenericName[id]=Penggerak Vendor
GenericName[it]=Driver del fornitore
GenericName[ja]=製造元のドライバ
GenericName[lt]=Gamintojo tvarkyklės
GenericName[nl]=Apparaatstuurprogramma van leverancier
GenericName[pl]=Sterowniki Dostawcy
GenericName[pt_BR]=Driver do fabricante
GenericName[ro]=Driverul furnizorului
GenericName[ru]=Драйверы производителя
GenericName[sk]=Ovládač od dodávateľa
GenericName[sl]=Prodajalčev gonilnik
GenericName[sv]=Tillverkarens drivrutin
GenericName[tr]=Satıcı Sürücüsü
GenericName[uk]=Драйвери виробника
GenericName[zh_CN]=厂商驱动
GenericName[zh_TW]=廠商驅動程式
Comment=Install a driver from a vendor-specific medium
Comment[ca]=Instal·leu un controlador des d'un mitjà d'un proveïdor específic
Comment[cs]=Instalace ovladače z média od výrobce
Comment[da]=Installér en driver fra et leverandørspecifikt medie
Comment[de]=Einen Treiber von einem Hersteller-spezifischen Datenträger installieren
Comment[el]=Εγκατάσταση οδηγού από ένα CD-ROM συγκεκριμένου κατασκευαστή
Comment[es]=Instalar un controlador desde un medio específico del proveedor
Comment[fi]=Asenna ohjain valmistajan medialta
Comment[fr]=Installer un pilote à partir d'un support spécifique du fournisseur
Comment[id]=Pasang penggerak dari media khusus vendor
Comment[it]=Installa un driver da un supporto specifico del fornitore
Comment[ja]=製造元固有のメディアからドライバをインストールする
Comment[lt]=Įdiegti tvarkykles iš gamintojo laikmenos
Comment[nl]=Installeer een apparaatstuurprogramma van een specifiek medium van een leverancier
Comment[pl]=Zainstaluj sterownik z nośnika określonego przez dostawcę
Comment[pt_BR]=Instale um driver a partir de uma mídia específica do fornecedor
Comment[ro]=Instalarea unui driver de pe un mediu specific furnizorului
Comment[ru]=Установить драйвер с носителя производителя
Comment[sk]=Inštalovať ovládač z média od konkrétneho dodávateľa
Comment[sl]=Namesti gonilnik z nosilca prodajalca
Comment[sv]=Installera en drivrutin från tillverkarens media
Comment[uk]=Встановлення драйвера з носія постачальника
Comment[zh_CN]=从厂商特定的介质安装驱动
Comment[zh_TW]=從廠商特定的媒體安裝驅動程式
StartupNotify=true
Hidden=true
