[Desktop Entry]
X-SuSE-DocTeamID=ycc_org.opensuse.yast.Printer
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Hardware;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true

X-SuSE-YaST-Call=printer
X-SuSE-YaST-Group=Hardware
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInst=all
X-SuSE-YaST-AutoInstResource=printer
X-SuSE-YaST-AutoInstClonable=true
X-SuSE-YaST-AutoInstSchema=printer.rnc

Icon=yast-printer
Exec=xdg-su -c "/sbin/yast2 printer"

Name=YaST Printer
Name[ca]=Impressores del YaST
Name[cs]=YaST tiskárna
Name[da]=YaST Printer
Name[de]=YaST Drucker
Name[el]=Εκτυπωτής YaST
Name[es]=Impresora de YaST
Name[fi]=YaST – Tulostin
Name[fr]=YaST Imprimante
Name[id]=Pencetak YaST
Name[it]=YaST Stampante
Name[ja]=YaST プリンタ
Name[lt]=YaST spausdintuvas
Name[nl]=YaST printer
Name[pt_BR]=YaST Impressora
Name[ro]=YaST Imprimantă
Name[ru]=YaST Принтер
Name[sk]=YaST Tlačiareň
Name[sl]=Tiskalniki (YaST)
Name[sv]=YaST Skrivare
Name[tr]=YaST Yazıcı
Name[uk]=YaST Принтер
Name[zh_CN]=YaST 打印机
Name[zh_TW]=YaST 印表機
GenericName=Printer
GenericName[ar]=الطابعة
GenericName[bg]=Принтер
GenericName[ca]=Impressora
GenericName[cs]=Tiskárna
GenericName[da]=Printer
GenericName[de]=Drucker
GenericName[el]=Εκτυπωτής
GenericName[es]=Impresora
GenericName[fi]=Tulostin
GenericName[fr]=Imprimante
GenericName[gl]=Impresora
GenericName[hu]=Nyomtató
GenericName[id]=Pencetak
GenericName[it]=Stampante
GenericName[ja]=プリンタ
GenericName[ko]=프린터
GenericName[lt]=Spausdintuvas
GenericName[nl]=Printer
GenericName[pl]=Drukarka
GenericName[pt_BR]=Impressora
GenericName[ro]=Imprimantă
GenericName[ru]=Принтер
GenericName[sk]=Tlačiareň
GenericName[sl]=Tiskalniki
GenericName[sv]=Skrivare
GenericName[tr]=Yazıcı
GenericName[uk]=Принтер
GenericName[zh_CN]=打印机
GenericName[zh_TW]=印表機
Comment=Configure printers
Comment[ar]=إعداد الطابعات
Comment[bg]=Настройка на принтер
Comment[ca]=Configureu impressores
Comment[cs]=Konfigurovat tiskárny
Comment[da]=Konfigurér printere
Comment[de]=Konfiguration von Druckern
Comment[el]=Ρύθμιση εκτυπωτών
Comment[es]=Configurar impresoras
Comment[fi]=Määritä tulostimet
Comment[fr]=Configurer les imprimantes
Comment[gl]=Configurar as impresoras
Comment[hu]=Nyomtatók konfigurálása
Comment[id]=Konfigurasikan pencetak
Comment[it]=Configura le stampanti
Comment[ja]=プリンタの設定
Comment[ko]=프린터 구성
Comment[lt]=Konfigūruoti spausdintuvus
Comment[nl]=Printers instellen
Comment[pl]=Konfiguruj drukarki
Comment[pt_BR]=Configure as impressoras
Comment[ro]=Configurați imprimantele
Comment[ru]=Настроить принтеры
Comment[sk]=Konfigurovať tlačiarne
Comment[sl]=Nastavitev tiskalnikov
Comment[sv]=Konfigurera skrivare
Comment[tr]=Yazıcıları yapılandır
Comment[uk]=Налаштування принтерів
Comment[zh_CN]=配置打印机
Comment[zh_TW]=設定印表機
Hidden=true
