[Desktop Entry]
X-SuSE-DocTeamID=ycc_org.opensuse.yast.Upgrade
Type=Application
Hidden=true
Categories=Settings;System;Documentation;

Icon=yast-upgrade
Exec=/bin/true

Name=YaST Upgrade
Name[ca]=Actualització del YaST
Name[cs]=YaST povýšení
Name[da]=YaST Opgradering
Name[de]=YaST Systemaktualisierung
Name[el]=Αναβάθμιση YaST
Name[es]=Actualización de YaST
Name[fi]=YaST-päivitys
Name[fr]=Mise à niveau YaST
Name[id]=Peningkatan YaST
Name[it]=Aggiornamento YaST
Name[ja]=YaST アップグレード
Name[lt]=YaST naujovinimas
Name[nl]=YaST opwaardering
Name[pt_BR]=YaST Atualizar
Name[ru]=YaST Обновление
Name[sk]=YaST Zvýšenie verzie
Name[sl]=Nadgradnja (YaST)
Name[sv]=YaST Uppgradera
Name[tr]=YaST Yükseltme
Name[uk]=YaST Оновлення
Name[zh_CN]=YaST 升级
Name[zh_TW]=YaST 升級
GenericName=System Upgrade
GenericName[ca]=Actualització del sistema
GenericName[cs]=Povýšení systému
GenericName[da]=Systemopgradering
GenericName[de]=Systemaktualisierung
GenericName[el]=Αναβάθμιση συστήματος
GenericName[es]=Actualización del sistema
GenericName[fi]=Järjestelmän päivitys
GenericName[fr]=Mise à niveau du système
GenericName[id]=Peningkatan Sistem
GenericName[it]=Aggiornamento del sistema
GenericName[ja]=システムアップグレード
GenericName[lt]=Sistemos naujovinimas
GenericName[nl]=Systeemopwaardering
GenericName[pt_BR]=Atualizar Sistema
GenericName[ro]=Upgrade de sistem
GenericName[ru]=Обновление системы
GenericName[sk]=Zvýšenie verzie systému
GenericName[sl]=Nadgradnja sistema
GenericName[sv]=Systemuppgradering
GenericName[tr]=Sistem Yükseltme
GenericName[uk]=Оновлення системи
GenericName[zh_CN]=系统升级
GenericName[zh_TW]=系統升級
Comment=Upgrade system to the newer version
Comment[ca]=Actualitzeu el sistema a la versió més nova
Comment[cs]=Povýšit systém na novější verzi
Comment[da]=Opgrader systemet til den nyeste version
Comment[de]=System auf neuere Version upgraden
Comment[el]=Αναβάθμιση του συστήματος στη νεότερη έκδοση
Comment[es]=Actualizar el sistema a una versión nueva
Comment[fi]=Päivitä järjestelmä uudempaan versioon
Comment[fr]=Mettre à niveau le système vers une nouvelle version
Comment[id]=Tingkatkan sistem ke versi yang lebih baru
Comment[it]=Aggiorna il sistema alla versione più recente
Comment[ja]=システムに対するより新しいバージョンへのアップグレード
Comment[lt]=Atnaujinti sistemą iki naujesnės versijos
Comment[nl]=Waardeer systeem op naar de nieuwere versie
Comment[pl]=Uaktualnij system do nowszej wersji
Comment[pt_BR]=Atualizar sistema para a nova versão
Comment[ro]=Upgrade-ul sistemului la o versiune mai nouă
Comment[ru]=Обновление системы до новой версии
Comment[sk]=Zvýšiť verziu systému na novšiu
Comment[sl]=Nadgradnja sistema na novejšo različico
Comment[sv]=Uppgradera systemet till en nyare version
Comment[tr]=Sistemi yeni sürüme yükseltin
Comment[uk]=Оновлення системи до новішої версії
Comment[zh_CN]=升级系统到新版本
Comment[zh_TW]=將系統升級至較新版本
StartupNotify=true
Hidden=true
