[Desktop Entry]
X-SuSE-DocTeamID=ycc_org.opensuse.yast.OnlineUpdate
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Software;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-SuSE-YaST-Call=online_update

X-SuSE-YaST-Group=Software
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=10
X-SuSE-YaST-AutoInstResource=
X-SuSE-YaST-AutoInst=
X-SuSE-YaST-Keywords=software,update,online,YOU,packages,RPM

Icon=yast-update-online
Exec=xdg-su -c "/sbin/yast2 online_update"

Name=YaST Online Update
Name[ca]=Actualització en línia del YaST
Name[cs]=YaST on-line aktualizace
Name[da]=YaST Onlineopdatering
Name[de]=YaST Online-Aktualisierung
Name[el]=Ενημέρωση μέσω δικτύου YaST
Name[es]=Actualización en línea de YaST
Name[fi]=YaST – Verkkopäivitys
Name[fr]=Mise à jour en ligne YaST
Name[id]=Pemutakhiran Daring YaST
Name[it]=YaST Aggiornamento online
Name[ja]=YaST オンライン更新
Name[lt]=YaST atnaujinimas internetu
Name[nl]=YaST online bijwerken
Name[pt_BR]=YaST Atualização online
Name[ro]=YaST Actualizare online
Name[ru]=YaST Обновление по сети
Name[sk]=YaST Online aktualizácia
Name[sl]=Internetna posodobitev (YaST)
Name[sv]=YaST Online-uppdatering
Name[tr]=YaST Çevrimiçi Güncelleme
Name[uk]=YaST Мережне оновлення
Name[zh_CN]=YaST 在线更新
Name[zh_TW]=YaST 線上更新
GenericName=Online Update
GenericName[ar]=التحديث عبر الإنترنت
GenericName[bg]=Обновяване от мрежата
GenericName[ca]=Actualització en línia
GenericName[cs]=on-line aktualizace
GenericName[da]=Onlineopdatering
GenericName[de]=Online-Aktualisierung
GenericName[el]=Ενημέρωση μέσω δικτύου
GenericName[es]=Actualización en línea
GenericName[fi]=Verkkopäivitys
GenericName[fr]=Mise à jour en ligne
GenericName[gl]=Actualización en liña
GenericName[hu]=Online frissítés
GenericName[id]=Pemutakhiran Daring
GenericName[it]=Aggiornamento online
GenericName[ja]=オンライン更新
GenericName[ko]=온라인 업데이트
GenericName[lt]=Atnaujinimas internetu
GenericName[nl]=Online bijwerken
GenericName[pl]=Aktualizacja online
GenericName[pt_BR]=Atualização online
GenericName[ro]=Actualizare online
GenericName[ru]=Обновление по сети
GenericName[sk]=Online aktualizácia
GenericName[sl]=Internetna posodobitev
GenericName[sv]=Online-uppdateringar
GenericName[tr]=Çevrimiçi Güncelleme
GenericName[uk]=Мережне оновлення
GenericName[zh_CN]=在线更新
GenericName[zh_TW]=線上更新
Comment=Get patches to correct and improve your existing installation
Comment[ar]=الحصول على تصحيح العلل وتحسين التثبيت الموجود
Comment[bg]=Изтегляне на кръпки за коригиране и усъвършенстване
Comment[ca]=Obtingueu pedaços per corregir i millorar la instal·lació existent
Comment[cs]=Získejte záplaty pro opravu a vylepšení vaší současné instalace
Comment[da]=Hent rettelser til at rette og forbedre din eksisterende installation
Comment[de]=Herunterladen von Aktualisierungen um Ihre existierende Installation zu korrigieren und verbessern
Comment[el]=Λήψη τροποποιήσεων για να διόρθωση και να βελτίωση της υπάρχουσας εγκατάστασής σας
Comment[es]=Obtener parches para corregir y mejorar la instalación existente
Comment[fi]=Nouda paikkauksia korjaamaan ja parantamaan olemassa olevaa asennusta
Comment[fr]=Obtenir des correctifs pour rectifier ou améliorer votre installation
Comment[gl]=Obter paquetes que corrixan e melloren o seu sistema
Comment[hu]=Javítások beszerzése a meglévő telepítések kijavításához és továbbfejlesztéséhez
Comment[id]=Dapatkan tambalan untuk memperbaiki dan memperbarui pemasangan yang ada
Comment[it]=Scarica le patch per correggere e migliorare l'installazione esistente
Comment[ja]=既存のインストールに対して訂正や改善を行なうための修正をインストールする
Comment[ko]=기존 설치를 수정하고 개선하기 위해 패치 설치
Comment[lt]=Diegti pataisas, ištaisančias klaidas ar pagerinančias jau įdiegtą sistemą
Comment[nl]=Patches ophalen om uw bestaande installatie te corrigeren of te verbeteren
Comment[pl]=Pobierz poprawki w celi poprawienia i usprawnienia istniejącej instalacji
Comment[pt_BR]=Obtenha correções para corrigir e aperfeiçoar sua instalação existente
Comment[ro]=Obțineți corecții pentru a corecta și îmbunătăți instalarea existentă
Comment[ru]=Получить исправления и улучшения для существующей установки
Comment[sk]=Získajte opravy, aby ste si opravili a zlepšili vašu existujúcu inštaláciu
Comment[sl]=Pridobivanje popravkov za izboljšanje obstoječe namestitve
Comment[sv]=Hämta patchar för att korrigera och förbättra din befintliga installation
Comment[tr]=Mevcut kurulumunuzu düzeltmek ve iyileştirmek için yamalar alın
Comment[uk]=Отримати латки для виправлення та покращення вашої поточної установки
Comment[zh_CN]=获取补丁来修复和改进您现有的系统
Comment[zh_TW]=取得修補程式來修正並增強您目前安裝的系統
StartupNotify=true
Hidden=true
