[Desktop Entry]
X-SuSE-DocTeamID=ycc_org.opensuse.yast.SWSingle
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Software;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-SuSE-YaST-Call=sw_single

X-SuSE-YaST-Group=Software
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=20
X-SuSE-YaST-AutoInstResource=
X-SuSE-YaST-Keywords=software,packages,rpm,repositories,installation,deletion
X-SuSE-YaST-WSL=true

Icon=yast-sw_single
Exec=xdg-su -c "/sbin/yast2 sw_single"

Name=YaST Software Management
Name[ca]=Gestió de programari del YaST
Name[cs]=YaST správa softwaru
Name[da]=YaST Softwarehåndtering
Name[de]=YaST Software Verwaltung
Name[el]=Διαχείριση λογισμικού YaST
Name[es]=Gestión de software de YaST
Name[fi]=YaST – Ohjelmiston asennus
Name[fr]=YaST Installer et supprimer des logiciels
Name[id]=Pengelola Perangkat Lunak YaST
Name[it]=YaST Gestione pacchetti
Name[ja]=YaST ソフトウエア管理
Name[lt]=YaST programinės įrangos tvarkytuvė
Name[nl]=YaST softwarebeheer
Name[pt_BR]=YaST Gerenciamento de software
Name[ro]=YaST Administrare software
Name[ru]=YaST Управление программным обеспечением
Name[sk]=YaST Správa softvéru
Name[sl]=Upravljanje programske opreme (YaST)
Name[sv]=YaSt Installera och ta bort program
Name[tr]=YaST Yazılım Yönetimi
Name[uk]=YaST Керування програмами
Name[zh_CN]=YaST 软件管理
Name[zh_TW]=YaST 軟體管理
GenericName=Software Management
GenericName[af]=Sagtewarebestuur
GenericName[ar]=إدارة البرامج
GenericName[bg]=Управление на софтуера
GenericName[ca]=Gestió de programari
GenericName[cs]=Správa softwaru
GenericName[da]=Håndtering af software
GenericName[de]=Software installieren oder löschen
GenericName[el]=Διαχείριση λογισμικού
GenericName[es]=Instalar / desinstalar software
GenericName[et]=Tarkvara haldamine
GenericName[fi]=Ohjelmiston asennus
GenericName[fr]=Installer et supprimer des logiciels
GenericName[gl]=Xestión de software
GenericName[hr]=Upravljanje programima
GenericName[hu]=Szoftver telepítése, eltávolítása
GenericName[id]=Pengelola Perangkat Lunak
GenericName[it]=Gestione pacchetti
GenericName[ja]=ソフトウエア管理
GenericName[km]=ការ​គ្រប់គ្រង​កម្មវិធី
GenericName[ko]=소프트웨어 설치/제거
GenericName[lt]=Programinės įrangos tvarkytuvė
GenericName[nb]=Legg til og fjern programmer
GenericName[nl]=Softwarebeheer
GenericName[pa]=ਸਾਫਟਵੇਅਰ ਪਰਬੰਧ
GenericName[pl]=Zarządzanie oprogramowaniem
GenericName[pt]=Gestão de Software
GenericName[pt_BR]=Gerenciamento de software
GenericName[ro]=Administrare software
GenericName[ru]=Управление программным обеспечением
GenericName[sk]=Správa softvéru
GenericName[sl]=Upravljanje programske opreme
GenericName[sv]=Installera och ta bort program
GenericName[ta]=பெயர்(எஸ்டபிள்யூ_சிங்கிள்.டெஸ்க்டாப்): மென்பொருள் நிர்வாகம்
GenericName[th]=การจัดการซอฟต์แวร์
GenericName[tr]=Yazılım Yönetimi
GenericName[uk]=Керування програмами
GenericName[wa]=Manaedjmint des programes
GenericName[xh]=Ulawulo Lokungaphakathi Ekhompyutheni
GenericName[zh_CN]=软件管理
GenericName[zh_TW]=軟體管理
Comment=Install or remove software packages and manage software repositories
Comment[ar]=تثبيت أو إزالة حزم البرامج وإدارة مستودعات البرامج
Comment[bg]=Инсталиране или премахване на софтуерни пакети и управление на хранилищата
Comment[ca]=Instal·leu o suprimiu paquets i gestioneu repositoris de programari
Comment[cs]=Instalace nebo odstranění softwarových balíčků a správa repozitářů
Comment[da]=Installér eller fjern softwarepakker og håndter softwarekilder
Comment[de]=Software-Pakete installieren oder entfernen und Repositories verwalten
Comment[el]=Εγκατάσταση ή αφαίρεση πακέτων λογισμικού και διαχείριση αποθετηρίων λογισμικού
Comment[es]=Instalar o eliminar paquetes de software y gestionar repositorios de software
Comment[et]=Tarkvarapakettide lisamine ja eemaldamine ning tarkvarahoidlate haldamine
Comment[fi]=Asenna tai poista ohjelmistopaketteja ja hallitse asennuslähteitä
Comment[fr]=Installer ou supprimer des paquets logiciels et gérer les dépôts de logiciels
Comment[gl]=Instalar ou eliminar paquetes de software e xestionar os repositorios de software
Comment[hu]=Szoftverek telepítése, eltávolítása és a telepítési források kezelése
Comment[id]=Pasang atau hapus paket perangkat lunak dan kelola repositori perangkat lunak
Comment[it]=Installa o rimuovi i pacchetti e gestisci i repository software
Comment[ja]=ソフトウエアパッケージのインストールやアンインストール、ソフトウエアリポジトリの管理
Comment[km]=ដំឡើង ឬ​យកកញ្ចប់​កម្មវិធី​ចេញ និង​គ្រប់គ្រង​ឃ្លាំង​កម្មវិធី
Comment[ko]=소프트웨어 꾸러미와 소트웨어 저장소 관리
Comment[lt]=Įdiegti arba pašalinti programinę įrangą ir tvarkyti programinės įrangos saugyklas
Comment[nb]=Installer eller fjern programvarepakker og administrer pakkebrønner
Comment[nl]=Installeren van software pakketten en beheren van installatiebronnen
Comment[pa]=ਸਾਫਟਵੇਅਰ ਪੈਕੇਜ ਇੰਸਟਾਲ ਕਰੋ ਜਾਂ ਹਟਾਓ ਅਤੇ ਸਾਫਟਵੇਅਰ ਰਿਪੋਜ਼ਟਰੀਆਂ ਪਰਬੰਧ
Comment[pl]=Zainstaluj lub usuń pakiety oprogramowania i zarządzaj repozytoriami oprogramowania
Comment[pt]=Instalar ou remover pacotes de software e gerir repositórios de software
Comment[pt_BR]=Instale ou remova pacotes de softwares e gerencie os repositórios de software
Comment[ro]=Instalarea sau eliminarea pachetelor software și gestionarea depozitelor de software
Comment[ru]=Установка или удаление пакетов программ, управление репозиториями
Comment[sk]=Inštalácia a odstránenie softvérových balíkov a správa softvérových repozitárov
Comment[sl]=Nameščanje in odstranjevanje programskih paketov in upravljanje virov
Comment[sv]=Installera eller ta bort programpaket och hantera programkällor
Comment[th]=ติดตั้งหรือถอนการติดตั้งแพกเกจซอฟต์แวร์และจัดการคลังแพกเกจซอฟต์แวร์
Comment[uk]=Встановити або вилучити пакунки з програмами та керувати сховищами програм
Comment[wa]=Astaler oudonbén oister des pacaedjes di programe eyet manaedjî les depots des programes
Comment[zh_CN]=安装或移除软件包并管理软件源
Comment[zh_TW]=安裝或移除軟體套件與管理軟體套件庫
StartupNotify=true
Hidden=true
