[Desktop Entry]
X-SuSE-DocTeamID=ycc_org.opensuse.yast.Host
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Net_advanced;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-SuSE-YaST-Call=host

X-SuSE-YaST-Group=Net_advanced
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=all
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=host
X-SuSE-YaST-AutoInstClonable=true
X-SuSE-YaST-AutoInstSchema=host.rnc
X-SuSE-YaST-Keywords=name,network,lan,wireless

Icon=yast-host
Exec=xdg-su -c "/sbin/yast2 host"

Name=YaST Hostnames
Name[ca]=Noms d'amfitrions del YaST
Name[cs]=YaST jména počítačů
Name[da]=YaST Værtsnavne
Name[de]=YaST Rechnernamen
Name[el]=Ονόματα Κόμβου YaST
Name[es]=Nombres de anfitrión de YaST
Name[fi]=YaST – Konenimet
Name[fr]=Noms d'hôte YaST
Name[id]=Nama Host YaST
Name[it]=YaST Nomi host
Name[ja]=YaST ホスト名
Name[lt]=YaST kompiuterių vardai
Name[nl]=YaST hostnamen
Name[pt_BR]=YaST Nomes de máquinas
Name[ro]=YaST Nume de gazde
Name[ru]=YaST Имена узла
Name[sk]=YaST Mená hostiteľov
Name[sl]=Imena gostiteljev (YaST)
Name[sv]=YaST Värddatornamn
Name[uk]=YaST Назви вузлів
Name[zh_CN]=YaST 主机名
Name[zh_TW]=YaST 主機名稱
GenericName=Hostnames
GenericName[af]=Gasheername
GenericName[ar]=الأجهزة المضيفة
GenericName[bg]=Имена на машините
GenericName[ca]=Noms d'amfitrions
GenericName[cs]=Jména počítačů
GenericName[da]=Værtsmaskinenavne
GenericName[de]=Rechnernamen
GenericName[el]=Ονόματα Κόμβου
GenericName[es]=Nombres de anfitrión
GenericName[et]=Masinanimed
GenericName[fi]=Konenimet
GenericName[fr]=Noms d'hôtes
GenericName[gl]=Nomes de servidores
GenericName[hr]=Imena računala
GenericName[hu]=Gépnevek
GenericName[id]=Nama host
GenericName[it]=Nomi host
GenericName[ja]=ホスト名
GenericName[km]=ឈ្មោះ​ម៉ាស៊ីន
GenericName[ko]=호스트 이름
GenericName[lt]=Kompiuterių vardai
GenericName[nb]=Vertsnavn
GenericName[nl]=Hostnamen
GenericName[pa]=ਹੋਸਟ ਨਾਂ
GenericName[pl]=Nazwy hostów
GenericName[pt]=Nomes de computadores
GenericName[pt_BR]=Nomes de máquina
GenericName[ro]=Nume de gazde
GenericName[ru]=Имена узла
GenericName[sk]=Mená hostiteľov
GenericName[sl]=Imena gostiteljev
GenericName[sv]=Värddatornamn
GenericName[ta]=பெயர்(ஹோஸ்ட்.டெஸ்க்டாப்): ஆதாரபெயர்கள்
GenericName[th]=ชื่อเครื่องต่าง ๆ
GenericName[tr]=Ana makinaların adı
GenericName[uk]=Назви вузлів
GenericName[wa]=Nos d' lodjoe
GenericName[xh]=Amagama Abamkeli
GenericName[zh_CN]=主机名
GenericName[zh_TW]=主機名稱
Comment=Assign hostnames and aliases to IP addresses
Comment[af]=Wys gasheername en aliasse toe aan IP-adresse
Comment[ar]=تخصيص أسماء مضيفين وأسماء مستعارة لعناوين IP
Comment[bg]=Настройка на имената на машините
Comment[ca]=Assigneu noms d'amfitrió i àlies a les adreces IP
Comment[cs]=Konfigurovat jména počítače a přezdívky k IP adresám
Comment[da]=Tildel IP-adresser til værtsmaskinenavn og aliasser
Comment[de]=IP-Adressen Rechnernamen und Alias zuweisen
Comment[el]=Ανάθεση ονομάτων κόμβων και ψευδωνύμων στις διευθύνσεις ΙΡ
Comment[es]=Asignar nombres de anfitrión y alias a direcciones IP
Comment[et]=Masinanimede ja aliaste omistamine IP-aadressidele
Comment[fi]=Määritä konenimet ja IP-osoitteiden aliakset
Comment[fr]=Assigner les noms d'hôtes et les alias aux adresses IP
Comment[gl]=Asignar nomes de máquina e alias a enderezos IP
Comment[hu]=Gépnevek beállítása
Comment[id]=Tetapkan nama host dan alias ke alamat IP
Comment[it]=Assegna i nomi host e gli alias agli indirizzi IP
Comment[ja]=IP アドレスに対してホスト名と別名を設定
Comment[km]=ផ្ដល់​ឈ្មោះ​ម៉ាស៊ីន និង​ឈ្មោះ​ក្លែងក្លាយ​ទៅ​អាសយដ្ឋាន IP
Comment[ko]=호스트 이름 및 IP 주소 별명 지정
Comment[lt]=Kompiuterių vardų priskyrimas IP adresams
Comment[nb]=Tildel vertsnavn og aliaser til IP-adresser
Comment[nl]=Hostnamen en aliassen toewijzen aan IP-adressen
Comment[pa]=IP ਐਡਰੈੱਸ ਨੂੰ ਹੋਸਟ-ਨਾਂ ਅਤੇ ਏਲੀਆਸ ਦੇਣੇ
Comment[pl]=Przypisz nazwy hostów i aliasy do adresów IP
Comment[pt]=Atribuir nomes de computadores e alcunhas a endereços IP
Comment[pt_BR]=Atribua nomes de máquina e apelidos a endereços IP
Comment[ro]=Atribuiți nume de gazdă și alias-uri la adresele IP
Comment[ru]=Присвоение имён узлов и псевдонимов к IP-адресам
Comment[sk]=Priradiť mená hostiteľov a aliasov IP adresám
Comment[sl]=Nastavite imena gostiteljev in vzdevke za naslove IP
Comment[sv]=Ställ in värddatornamn och alias till IP-adresser
Comment[ta]=இனப்பெயர்(ஹோஸ்ட்.டெஸ்க்டாப்):ஐபி முகவரிகளுக்கு ஆதாரபெயர்கள் மற்றும் மாற்று பெயர்கள் அளிக்கிறது
Comment[th]=กำหนดชื่อเครื่องและชื่อเทียบเคียงให้กับที่อยู่ IP
Comment[tr]=Ana makine adlarını ayarla
Comment[uk]=Призначення назв вузлів і псевдонімів до адрес IP
Comment[wa]=Diner des nos d' lodjeu et des alias a ds adresses IP
Comment[xh]=Yabela amagama abamkeli namagama eziqhulo kwiidilesi ze-IP
Comment[zh_CN]=为 IP 地址指派主机名和别名
Comment[zh_TW]=為 IP 位址指定主機名稱與別名
StartupNotify=true
Hidden=true
