[Desktop Entry]
X-SuSE-DocTeamID=ycc_org.opensuse.yast.Users
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Security;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-SuSE-YaST-Call=users

X-SuSE-YaST-Group=Security
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=all
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstClonable=true
X-SuSE-YaST-AutoInstMerge=users,groups,user_defaults,login_settings
X-SuSE-YaST-AutoInstMergeTypes=list,list,map,map
X-SuSE-YaST-AutoInstRequires=security
X-SuSE-YaST-AutoInstResource=users
X-SuSE-YaST-AutoInstSchema=users.rnc
X-SuSE-YaST-Keywords=user,group,authentication,login,password
X-SuSE-YaST-WSL=true

Icon=yast-users
Exec=xdg-su -c "/sbin/yast2 users"

Name=YaST User and Group Management
Name[ca]=Gestió d'usuaris i grups del YaST
Name[cs]=YaST správa uživatelů a skupin
Name[da]=YaST Bruger- og gruppeadministration
Name[de]=YaST Benutzer- und Gruppenverwaltung
Name[el]=Διαχείριση χρηστών και ομάδων
Name[es]=Gestión de usuarios y grupos de YaST
Name[fi]=YaST – Käyttäjien ja ryhmien hallinta
Name[fr]=Gestion des groupes et des utilisateurs YaST
Name[id]=Pengguna dan Manajemen Grup YaST
Name[it]=YaST Gestione di utenti e gruppi
Name[ja]=YaST ユーザとグループの管理
Name[lt]=YaST naudotojų ir grupių tvarkymas
Name[nl]=YaST gebruikers- en groepenbeheer
Name[pt_BR]=YaST Gerenciamento de usuários e grupos
Name[ro]=YaST Administrare utilizatori și grupuri
Name[ru]=YaST Управление пользователями и группами
Name[sk]=YaST Správa používateľských účtov a skupín
Name[sl]=Uporabniki in skupine (YaST)
Name[sv]=YaST Användare och grupphantering
Name[tr]=YaST Kullanıcı ve Grup Yönetimi
Name[uk]=YaST Керування користувачами та групами
Name[zh_CN]=YaST 用户和组管理
Name[zh_TW]=YaST 使用者和群組管理
GenericName=User and Group Management
GenericName[ar]=إدارة المجموعات والمستخدم
GenericName[bg]=Потребители и групи
GenericName[ca]=Gestió d'usuaris o grups
GenericName[cs]=Správce uživatelů a skupin
GenericName[da]=Bruger- og gruppeadministration
GenericName[de]=Benutzer- und Gruppenverwaltung
GenericName[el]=Διαχείριση χρηστών και ομάδων
GenericName[es]=Gestión de usuarios y grupos
GenericName[et]=Kasutajate ja rühmade haldamine
GenericName[fi]=Käyttäjien ja ryhmien hallinta
GenericName[fr]=Gestion des groupes et des utilisateurs
GenericName[gl]=Xestión de usuarios e grupos
GenericName[hr]=Upravljanje korisnicima i grupama
GenericName[hu]=Csoportok és felhasználók
GenericName[id]=Pengguna dan Manajemen Grup
GenericName[it]=Gestione di utenti e gruppi
GenericName[ja]=ユーザとグループの管理
GenericName[km]=ការ​គ្រប់គ្រង​អ្នកប្រើ និង​ក្រុម
GenericName[ko]=사용자 및 그룹 관리
GenericName[lt]=Naudotojų ir grupių tvarkymas
GenericName[nb]=Administrasjon av brukere og grupper
GenericName[nl]=Gebruikers- en groepenbeheer
GenericName[pa]=ਯੂਜ਼ਰ ਅਤੇ ਗਰੁੱਪ ਪਰਬੰਧ
GenericName[pl]=Zarządzanie użytkownikami i grupami
GenericName[pt]=Gestão de Grupos e de Utilizadores
GenericName[pt_BR]=Gerenciamento de usuários e grupos
GenericName[ro]=Administrare utilizatori și grupuri
GenericName[ru]=Управление пользователями и группами
GenericName[sk]=Správa používateľských účtov a skupín
GenericName[sl]=Uporabniki in skupine
GenericName[sv]=Hantering av användare och grupper
GenericName[th]=จัดการผู้ใช้งานและกลุ่มของผู้ใช้
GenericName[tr]=Kullanıcı ve Grup Yönetimi
GenericName[uk]=Керування користувачами та групами
GenericName[wa]=Manaedjmint des uzeus et des groupes
GenericName[zh_CN]=用户和组管理
GenericName[zh_TW]=使用者和群組管理
Comment="Add, Edit and Delete Users or User Groups"
StartupNotify=true
Hidden=true
