[Desktop Entry]
X-SuSE-DocTeamID=ycc_org.opensuse.yast.NTPClient
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Net_advanced;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-SuSE-YaST-Call=ntp-client

X-SuSE-YaST-Group=Net_advanced
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=all
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=ntp-client
X-SuSE-YaST-AutoInstClonable=true
X-SuSE-YaST-AutoInstSchema=ntpclient.rnc
X-SuSE-YaST-Keywords=time,sync,synchronization,NTP

Icon=yast-ntp-client
Exec=xdg-su -c "/sbin/yast2 ntp-client"

Name=YaST NTP Configuration
Name[ca]=Configuració d'NTP del YaST
Name[cs]=YaST konfigurace NTP
Name[da]=YaST NTP-konfiguration
Name[de]=YaST NTP-Konfiguration
Name[el]=Ρύθμιση NTP YaST
Name[es]=Configuración de NTP de YaST
Name[fi]=YaST – NTP-määritys
Name[fr]=Configuration NTP YaST
Name[id]=Konfigurasi NTP YaST
Name[it]=YaST Configurazione NTP
Name[ja]=YaST NTP 設定
Name[lt]=YaST NTP konfigūravimas
Name[nl]=YaST NTP-configuratie
Name[pt_BR]=YaST Configuração do NTP
Name[ru]=YaST Настройка NTP
Name[sk]=YaST Konfigurácia NTP
Name[sl]=Nastavitev NTP (YaST)
Name[sv]=YaST NTP-konfiguration
Name[uk]=YaST Налаштування NTP
Name[zh_CN]=YaST NTP 配置
Name[zh_TW]=YaST NTP 組態
GenericName=NTP Configuration
GenericName[ar]=إعداد NTP
GenericName[bg]=NTP
GenericName[ca]=Configuració de NTP
GenericName[cs]=Konfigurace NTP
GenericName[da]=NTP-konfiguration
GenericName[de]=NTP-Konfiguration
GenericName[el]=Ρύθμιση NTP
GenericName[es]=Configuración de NTP
GenericName[fi]=NTP-määritys
GenericName[fr]=Configuration NTP
GenericName[gl]=Configuración NTP
GenericName[hu]=NTP-konfiguráció
GenericName[id]=Konfigurasi NTP
GenericName[it]=Configurazione NTP
GenericName[ja]=NTP 設定
GenericName[ko]=NTP 구성
GenericName[lt]=NTP konfigūravimas
GenericName[nl]=NTP-configuratie
GenericName[pl]=Konfiguracja NTP
GenericName[pt_BR]=Configuração do NTP
GenericName[ru]=Настройка NTP
GenericName[sk]=Konfigurácia NTP
GenericName[sl]=Nastavitev NTP
GenericName[sv]=NTP-konfiguration
GenericName[uk]=Налаштування NTP
GenericName[zh_CN]=NTP 配置
GenericName[zh_TW]=NTP 設定
Comment=Configure an NTP client or server
Comment[ar]=إعداد خادم أو عميل NTP
Comment[bg]=Настройка на NTP сървъра и клиента
Comment[ca]=Configureu un servidor o un client NTP
Comment[cs]=Konfigurovat klienta nebo server NTP
Comment[da]=Konfigurér en NTP-klient eller -server
Comment[de]=Konfiguration eines NTP-Clients oder -Servers
Comment[el]=Ρύθμιση πελάτη ή διακομιστή NTP
Comment[es]=Configurar un cliente o servidor NTP
Comment[fi]=Määritä NTP-asiakas tai -palvelin
Comment[fr]=Configurer un serveur ou un client NTP
Comment[gl]=Configurar un cliente NTP ou servidor
Comment[hu]=NTP-ügyfél vagy -kiszolgáló konfigurálása
Comment[id]=Konfigurasikan klien NTP atau peladen
Comment[it]=Configura un client o un server NTP
Comment[ja]=NTP クライアントまたはサーバの設定
Comment[ko]=NTP 클라이언트 또는 서버 구성
Comment[lt]=Konfigūruoti NTP klientą arba serverį
Comment[nl]=Een NTP-client of server instellen
Comment[pl]=Konfiguruj serwer lub klienta NTP
Comment[pt_BR]=Configure um cliente ou servidor NTP
Comment[ro]=Configurați un client sau un server NTP
Comment[ru]=Настроить клиент или сервер NTP
Comment[sk]=Konfigurovať klienta alebo server NTP
Comment[sl]=Nastavitev strežnika ali odjemalca NTP
Comment[sv]=Konfigurera en NTP-klient eller server
Comment[uk]=Налаштування клієнта або сервера NTP
Comment[zh_CN]=配置 NTP 客户端或服务器
Comment[zh_TW]=設定 NTP 用戶端及伺服器
StartupNotify=true
Hidden=true
