[Desktop Entry]
X-SuSE-DocTeamID=ycc_org.opensuse.yast.Proxy
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Net_advanced;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-SuSE-YaST-Call=proxy

X-SuSE-YaST-Group=Net_advanced
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=all
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=proxy
X-SuSE-YaST-AutoInstClonable=true
X-SuSE-YaST-AutoInstSchema=proxy.rnc
X-SuSE-YaST-Keywords=network,internet,access

Icon=yast-proxy
Exec=xdg-su -c "/sbin/yast2 proxy"

Name=YaST Proxy
Name[ca]=Intermediari del YaST
Name[cs]=YaST proxy
Name[da]=YaST Proxy
Name[de]=YaST Proxy
Name[el]=Διαμεσολαβητής YaST
Name[es]=«Proxy» de YaST
Name[fi]=YaST – Välityspalvelin
Name[fr]=Proxy YaST
Name[id]=Proksi YaST
Name[it]=YaST Proxy
Name[ja]=YaST プロキシ
Name[lt]=YaST įgaliotasis serveris
Name[mk]=YaST Прокси
Name[nl]=YaST proxy
Name[pt_BR]=YaST Proxy
Name[ru]=YaST Прокси
Name[sk]=YaST Proxy
Name[sl]=Posrednik (YaST)
Name[sv]=YaST Proxy
Name[uk]=YaST Проксі
Name[zh_CN]=YaST 代理
Name[zh_TW]=YaST 代理
GenericName=Proxy
GenericName[af]=Volmag
GenericName[ar]=الوكيل
GenericName[be]=Проксі
GenericName[bg]=Прокси сървър
GenericName[bn]=প্রক্সি
GenericName[ca]=Intermediari
GenericName[cs]=Proxy
GenericName[cy]=Dirprwy
GenericName[da]=Proxy
GenericName[de]=Proxy
GenericName[el]=Διαμεσολαβητής
GenericName[en_GB]=Proxy
GenericName[es]=Proxy
GenericName[et]=Puhverserver
GenericName[fi]=Välityspalvelin
GenericName[fr]=Serveur mandataire (proxy)
GenericName[gl]=Proxy
GenericName[gu]=પ્રોક્સી
GenericName[he]=מתווכים
GenericName[hi]=प्रॉक्सी
GenericName[hr]=Proxy
GenericName[hu]=Proxy
GenericName[id]=Proksi
GenericName[it]=Proxy
GenericName[ja]=プロキシ
GenericName[ka]=პროქსი
GenericName[km]=ប្រូកស៊ី
GenericName[ko]=프록시
GenericName[lo]=ພຣັອກຊີ
GenericName[lt]=Įgaliotasis serveris
GenericName[mk]=Прокси
GenericName[mr]=प्रॉक्सी
GenericName[nb]=Mellomtjener
GenericName[nl]=Proxy
GenericName[pa]=ਪਰਾਕਸੀ
GenericName[pl]=Proxy
GenericName[pt]=Proxy
GenericName[pt_BR]=Proxy
GenericName[ro]=Proxy
GenericName[ru]=Прокси-сервер
GenericName[si]=ප්‍රොක්සි
GenericName[sk]=Proxy
GenericName[sl]=Posrednik
GenericName[sr]=Прокси
GenericName[sv]=Proxy
GenericName[ta]=போலி
GenericName[tg]=Proxy
GenericName[th]=พร็อกซี
GenericName[tr]=Vekil Sunucu
GenericName[uk]=Проксі
GenericName[vi]=Ủy nhiệm
GenericName[wa]=Procsi
GenericName[xh]=Umntu onegunya lokusebenzela omnye
GenericName[zh_CN]=代理
GenericName[zh_TW]=代理
GenericName[zu]=Umlingani
Comment=Configure a proxy
Comment[af]=Konfigureer 'n volmag
Comment[ar]=إعداد وكيل
Comment[bg]=Настройка на прокси
Comment[ca]=Configureu un servidor intermediari
Comment[cs]=Konfigurovat proxy
Comment[da]=Konfigurér proxy-server
Comment[de]=Einen Proxy einrichten
Comment[el]=Ρύθμιση ενός μεσολαβητή
Comment[es]=Configurar un proxy
Comment[et]=Puhverserveri häälestamine
Comment[fi]=Määritä välityspalvelin
Comment[fr]=Configurer un proxy
Comment[gl]=Configurar un proxy
Comment[hr]=Podesi proxy
Comment[hu]=Proxy konfigurálása
Comment[id]=Konfigurasikan proksi
Comment[it]=Configura un proxy
Comment[ja]=プロキシの設定
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ប្រូកស៊ី
Comment[ko]=프록시 설정
Comment[lt]=Konfigūruoti įgaliotąjį serverį (proxy)
Comment[nb]=Sett opp en mellomserver
Comment[nl]=Proxy instellen
Comment[pa]=ਇੱਕ ਪਰਾਕਸੀ ਸੰਰਚਨਾ
Comment[pl]=Konfiguruj proxy
Comment[pt]=Configurar um proxy
Comment[pt_BR]=Configure um proxy
Comment[ro]=Configurați un proxy
Comment[ru]=Настроить прокси
Comment[sk]=Konfigurovať proxy
Comment[sl]=Nastavitev posrednika
Comment[sv]=Konfigurera en proxy
Comment[ta]=இனப்பெயர்(ப்ராக்ஸி.டெஸ்க்டாப்): ஒரு மாற்றினை உள்ளமைக்கிறது
Comment[th]=ปรับแต่งระบบพร็อกซี
Comment[tr]=Proxy yapılandır
Comment[uk]=Налаштування проксі
Comment[wa]=Apontyî on procsi
Comment[xh]=Yenza ubumbeko lommeli
Comment[zh_CN]=配置代理
Comment[zh_TW]=設定代理
StartupNotify=true
Hidden=true
