[Desktop Entry]
X-SuSE-DocTeamID=ycc_org.opensuse.yast.Sysconfig
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-System;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-SuSE-YaST-Call=sysconfig

X-SuSE-YaST-Group=System
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=all
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstDataType=list
X-SuSE-YaST-AutoInstResource=sysconfig
X-SuSE-YaST-AutoInstSchema=sysconfig.rnc
X-SuSE-YaST-Keywords=system,sysconfig,editor,configuration

Icon=yast-sysconfig
Exec=xdg-su -c "/sbin/yast2 sysconfig"

Name=YaST Sysconfig Editor
Name[ca]=Editor de la configuració del sistema del YaST
Name[cs]=YaST editor Sysconfig
Name[da]=YaST Systemkonfigurationseditor
Name[de]=YaST Sysconfig-Editor
Name[el]=Επεξεργαστής YaST Sysconfig
Name[es]=Editor de sysconfig de YaST
Name[fi]=YaST – Sysconfig-muokkain
Name[fr]=Éditeur Sysconfig YaST
Name[id]=Penyunting Sysconfig YaST
Name[it]=YaST Editor della configurazione di sistema
Name[ja]=YaST sysconfig エディタ
Name[lt]=YaST sistemos konfigūracijos redaktorius
Name[nl]=YaST bewerker van sysconfig
Name[pt_BR]=YaST Editor do Sysconfig
Name[ro]=YaST Editor Sysconfig
Name[ru]=YaST Редактор sysconfig
Name[sk]=YaST Editor Sysconfig
Name[sl]=Urejanje Sysconfig (YaST)
Name[sv]=YaST Systemkonfigurationseditor
Name[tr]=YaST Sysconfig Düzenleyicisi
Name[uk]=YaST Редактор Sysconfig
Name[zh_CN]=YaST Sysconfig 编辑器
Name[zh_TW]=YaST Sysconfig 編輯器
GenericName=Sysconfig Editor
GenericName[ca]=Editor de la configuració del sistema
GenericName[cs]=Editor Sysconfig
GenericName[da]=Systemkonfigurationseditor
GenericName[de]=Sysconfig-Editor
GenericName[el]=Επεξεργαστής Sysconfig
GenericName[es]=Editor de sysconfig
GenericName[fi]=Sysconfig-muokkain
GenericName[fr]=Éditeur Sysconfig
GenericName[id]=Penyunting Sysconfig
GenericName[it]=Editor della configurazione di sistema
GenericName[ja]=sysconfig エディタ
GenericName[lt]=Sistemos konfigūracijos redaktorius
GenericName[nl]=Bewerker voor sysconfig
GenericName[pt_BR]=Editor do Sysconfig
GenericName[ro]=Editor Sysconfig
GenericName[ru]=Редактор sysconfig
GenericName[sk]=Editor Sysconfig
GenericName[sl]=Urejanje Sysconfig
GenericName[sv]=Systemkonfigurationseditor
GenericName[tr]=Sysconfig Düzenleyicisi
GenericName[uk]=Редактор Sysconfig
GenericName[zh_CN]=Sysconfig 编辑器
GenericName[zh_TW]=Sysconfig 編輯器
Comment=Change settings in /etc/sysconfig configuration files
Comment[ar]=تغيير الإعدادات في ملفات الإعدادات/etc/sysconfig
Comment[bg]=Промяна на настройките от файлове в /etc/sysconfig
Comment[ca]=Canvieu els paràmetres dels fitxers de configuració a /etc/sysconfig
Comment[cs]=Upravte si nastavení v konfiguračních souborech /etc/sysconfig
Comment[da]=Skift indstillinger for konfigurationsfiler i /etc/sysconfig
Comment[de]=Einstellungen in /etc/sysconfig-Konfigurationsdateien ändern
Comment[el]=Αλλαγή επιλογών στα αρχεία ρυθμίσεων /etc/sysconfig
Comment[es]=Cambiar ajustes en archivos de configuración ubicados en /etc/sysconfig
Comment[fi]=Muuta /etc/sysconfig-määritystiedostojen asetuksia
Comment[fr]=Changer les paramètres dans les fichiers de configuration /etc/sysconfig
Comment[gl]=Cambia os ficheiros de configuración de in /etc/sysconfig
Comment[hu]=Az /etc/sysconfig konfigurációs fájlokban található beállítások módosítása
Comment[id]=Ubah pengaturan pada berkas konfigurasi /etc/sysconfig
Comment[it]=Cambia le impostazioni nei file di configurazione in /etc/sysconfig
Comment[ja]=/etc/sysconfig の設定ファイル内の設定を変更する
Comment[ko]=/etc/sysconfig 구성 파일의 설정 변경
Comment[lt]=Keisti nuostatas /etc/sysconfig konfigūracinėse rinkmenose
Comment[nl]=Instellingen in configuratiebestanden in /etc/sysconfig wijzigen
Comment[pl]=Zmień ustawienia w plikach konfiguracyjnych /etc/sysconfig
Comment[pt_BR]=Altere as configurações nos arquivos de configuração /etc/sysconfig
Comment[ro]=Modificați setările din fișierele de configurare /etc/sysconfig
Comment[ru]=Изменить настройки в файлах /etc/sysconfig
Comment[sk]=Zmeniť nastavenia v konfiguračných súboroch /etc/sysconfig
Comment[sl]=Spreminjanje nastavitev v datotekah v /etc/sysconfig
Comment[sv]=Ändra inställningar i /etc/sysconfig konfigurationsfiler
Comment[tr]=/etc/sysconfig yapılandırma dosyalarındaki ayarları değiştirin
Comment[uk]=Зміна налаштувань у файлах конфігурації /etc/sysconfig
Comment[zh_CN]=修改 /etc/sysconfig 配置文件设置
Comment[zh_TW]=變更 /etc/sysconfig 組態檔中的設定
StartupNotify=true
Hidden=true
