[Desktop Entry]
X-SuSE-DocTeamID=ycc_org.opensuse.yast.Alternatives
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-SuSE-YaST-Call=alternatives

X-SuSE-YaST-Group=Misc
X-SuSE-YaST-RootOnly=true

Icon=yast-alternatives
Exec=/usr/bin/xdg-su -c "/sbin/yast2 alternatives"

Name=YaST Alternatives
Name[ca]=Alternatives del YasT
Name[cs]=Alternativy YaST
Name[da]=YaST Alternativer
Name[de]=YaST Alternativen
Name[el]=Εναλακτικές YaST
Name[es]=Alternativas de YaST
Name[fi]=YaST – Vaihtoehtojärjestelmä
Name[fr]=Alternatives YaST
Name[id]=Alternatif YaST
Name[it]=Alternative YaST
Name[ja]=YaST Alternatives
Name[lt]=YaST alternatyvos
Name[mk]=YaST Алтернативи
Name[nl]=YaST alternatieven
Name[pl]=Alternatywy YaST
Name[pt_BR]=YaST Alternativos
Name[ro]=YaST Alternative
Name[ru]=YaST Альтернативы
Name[sk]=YaST Alternatívy
Name[sl]=Alternative (YaST)
Name[sv]=YaST Alternativ
Name[tr]=YaST Alternatifler
Name[uk]=YaST Альтернативи
Name[zh_CN]=YaST 替代品切换
Name[zh_TW]=YaST 備選方案
GenericName=Alternatives
GenericName[ar]=بدائل
GenericName[bg]=Алтернативи
GenericName[ca]=Alternatives
GenericName[cs]=Alternativy
GenericName[da]=Alternativer
GenericName[de]=Alternativen
GenericName[el]=Εναλακτικές
GenericName[es]=Alternativas
GenericName[fi]=Vaihtoehdot
GenericName[fr]=Alternatives
GenericName[gl]=Alternativas
GenericName[hu]=Alternatívák
GenericName[id]=Alternatif
GenericName[it]=Alternative
GenericName[ja]=Alternatives
GenericName[ko]=대안
GenericName[lt]=Alternatyvos
GenericName[mk]=Алтернативи
GenericName[nl]=Alternatieven
GenericName[pl]=Opcje alternatywne
GenericName[pt_BR]=Alternativos
GenericName[ro]=Alternative
GenericName[ru]=Альтернативы
GenericName[sk]=Alternatívy
GenericName[sl]=Alternative
GenericName[sv]=Alternativ
GenericName[tr]=Alternatifler
GenericName[uk]=Альтернативи
GenericName[zh_CN]=替代品切换
GenericName[zh_TW]=備選方案
Comment=Manage update-alternatives switching
Comment[ar]=إدارة تحديث بدائل التحويل
Comment[ca]=Gestió de commutació d'alternatives d'actualització
Comment[cs]=Přepínání ovládající alternativy aktualizace
Comment[da]=Håndter skift af opdateringsalternativer
Comment[de]=update-alternatives-Umschaltung verwalten
Comment[el]=Διαχείριση αλλαγής ενημερώσεων από εναλλακτικές πηγές
Comment[es]=Gestionar intercambio entre actualización y alternativas
Comment[fi]=Hallitse update-alternatives-järjestelmää
Comment[fr]=Gérer les changements de update-alternatives
Comment[gl]=Xestionar o intercambio actualizacións-alternativas
Comment[hu]=Frissítési alternatívák váltásának kezelése
Comment[id]=Kelola peralihan pemutakhiran-alternatif
Comment[it]=Gestisci passaggio di update-alternatives
Comment[ja]=update-alternatives の切り替え管理
Comment[ko]=업데이트-대체 전환 관리
Comment[lt]=Persijungti tarp alternatyvų
Comment[nl]=Omschakelen van bijwerkalternatieven beheren
Comment[pl]=Zarządzaj przełączaniem alternatywnymi opcjami aktualizacji
Comment[pt_BR]=Gerenciar trocas do update-alternatives
Comment[ro]=Gestionați comutarea alternativelor de actualizare
Comment[ru]=Управление переключениями update-alternatives
Comment[sk]=Spravovať prepínanie alternatív aktualizácie
Comment[sl]=Upravljanje alternativnih programov
Comment[sv]=Hantera växling av uppdateringsalternativ
Comment[tr]=Güncelleme alternatifleri geçişini yönet
Comment[uk]=Управління перемиканням альтернативних оновлень
Comment[zh_CN]=管理 update-alternatives 切换
Comment[zh_TW]=管理 update-alternatives 切換
StartupNotify=true
Hidden=true
