[Desktop Entry]
X-SuSE-DocTeamID=ycc_org.opensuse.yast.Bootloader
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-System;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-SuSE-YaST-Call=bootloader

X-SuSE-YaST-Group=System
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=configure
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstPath=install
X-SuSE-YaST-AutoInstResource=bootloader
X-SuSE-YaST-AutoInstSchema=bootloader.rnc
X-SuSE-YaST-AutoInstClonable=true
X-SuSE-YaST-Keywords=bootloader,GRUB,system,EFI

Icon=yast-bootloader
Exec=xdg-su -c "/sbin/yast2 bootloader"

Name=YaST Boot Loader
Name[ca]=Carregador d'arrencada del YaST
Name[cs]=Yast zavaděč
Name[da]=YaST Bootloader
Name[de]=Bootloader
Name[el]=YaST Boot Loader
Name[es]=Cargador de arranque de YaST
Name[fi]=YaST – Käynnistyslatain
Name[fr]=Chargeur d'amorçage YaST
Name[id]=Boot Loader YaST
Name[it]=YaST Boot loader
Name[ja]=YaST ブートローダ
Name[lt]=YaST paleidyklė
Name[nl]=YaST bootloader
Name[pt_BR]=YaST Carregador de inicialização
Name[ro]=YaST Încărcător de pornire
Name[ru]=YaST Загрузчик
Name[sk]=YaST Správca štartu
Name[sl]=Zagonski nalagalnik (YaST)
Name[sv]=YaST Bootloader
Name[tr]=YaST Önyükleyici
Name[uk]=YaST Завантажувач
Name[zh_CN]=YaST 引导加载器
Name[zh_TW]=YaST 開機載入程式
GenericName=Boot Loader
GenericName[af]=Selflaaiprogram
GenericName[ar]=محمّل الإقلاع
GenericName[bg]=Зареждане на ОС
GenericName[ca]=Carregador d'arrencada
GenericName[cs]=Zavaděč
GenericName[da]=Bootloader
GenericName[de]=Bootloader
GenericName[el]=Boot Loader
GenericName[es]=Cargador de arranque
GenericName[et]=Alglaadija
GenericName[fi]=Käynnistyslatain
GenericName[fr]=Chargeur d'amorçage
GenericName[gl]=Cargador de arrinque
GenericName[hr]=Program za podizanje sustava
GenericName[hu]=Rendszerbetöltő beállítása
GenericName[id]=Boot Loader
GenericName[it]=Boot loader
GenericName[ja]=ブートローダ
GenericName[km]=កម្មវិធី​ចាប់ផ្ដើម​ប្រព័ន្ធ
GenericName[ko]=부트 로더
GenericName[lt]=Paleidyklė
GenericName[nb]=Oppstartslaster
GenericName[nl]=Bootloader
GenericName[pa]=ਬੂਟ ਲੋਡਰ
GenericName[pl]=Program rozruchowy
GenericName[pt]=Rotina de Arranque
GenericName[pt_BR]=Carregador de inicialização
GenericName[ro]=Încărcător de pornire
GenericName[ru]=Загрузчик
GenericName[sk]=Správca štartu
GenericName[sl]=Zagonski nalagalnik
GenericName[sv]=Ställ in starthanterare
GenericName[ta]=பெயர்(பூட்லோடர்.டெஸ்க்டாப்): பூட் லோடர்
GenericName[th]=ตัวจัดการการบูตระบบ
GenericName[tr]=Önyükleyici
GenericName[uk]=Завантажувач
GenericName[wa]=Tcherdjeu d' enondaedje sistinme
GenericName[xh]=Umlayishi Womiselo Lwenkqubo
GenericName[zh_CN]=引导加载器
GenericName[zh_TW]=開機載入器
Comment=Configure the boot loader
Comment[af]=Konfigureer die selflaaiprogram
Comment[ar]=إعداد محمل الإقلاع التشغيل
Comment[bg]=Настройка на зареждането на ОС
Comment[ca]=Configureu el carregador de l'arrencada
Comment[cs]=Konfigurovat zavaděč
Comment[da]=Konfigurér bootloader
Comment[de]=Bootloader einrichten
Comment[el]=Ρύθμιση του boot loader
Comment[es]=Configurar el cargador de arranque
Comment[et]=Alglaadija häälestamine
Comment[fi]=Määritä käynnistyslatain
Comment[fr]=Configurer le chargeur d'amorçage
Comment[gl]=Configurar o cargador de arrinque
Comment[hr]=Podesi program za podizanje sustava
Comment[hu]=Rendszerbetöltő beállítása
Comment[id]=Konfigurasikan boot loader
Comment[it]=Configura il boot loader
Comment[ja]=ブートローダの設定
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​កម្មវិធី​ចាប់ផ្ដើម​ប្រព័ន្ធ
Comment[ko]=부트 로더 설정
Comment[lt]=Konfigūruoti paleidyklę
Comment[nb]=Sett opp oppstartslasteren
Comment[nl]=Bootloader instellen
Comment[pa]=ਬੂਟ ਲੋਡਰ ਸੰਰਚਨਾ
Comment[pl]=Konfiguruj program rozruchowy
Comment[pt]=Configurar a rotina de arranque
Comment[pt_BR]=Configure o carregador de inicialização
Comment[ro]=Configurați încărcătorul de pornire
Comment[ru]=Настроить загрузчик
Comment[sk]=Nastaviť možnosti štartu počítača
Comment[sl]=Nastavitev zagonskega nalagalnika
Comment[sv]=Ställ in starthanterare
Comment[ta]=இனப்பெயர்(பூட்லோடர்.டெஸ்க்டாப்): பூட் லோடரை உள்ளமைக்கிறது
Comment[th]=ปรับแต่งตัวจัดการการบูตระบบ
Comment[tr]=Önyükleme yükleyicisini yapılandır
Comment[uk]=Налаштування завантажувача системи
Comment[wa]=Apontyî l' tcherdjeu d' enondaedje sistinme
Comment[xh]=Yenza ubumbeko lomlayishi womiselo lwenkqubo
Comment[zh_CN]=配置引导加载器
Comment[zh_TW]=設定開機載入器
StartupNotify=true
Hidden=true
