[Desktop Entry]
X-SuSE-DocTeamID=ycc_org.opensuse.yast.Scanner
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Hardware;
X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-SuSE-YaST-Call=scanner
X-SuSE-YaST-Group=Hardware
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=
X-SuSE-YaST-Keywords=system,hardware,photo,document,ocr
Icon=yast-scanner
Exec=xdg-su -c "/sbin/yast2 scanner"
Name=YaST Scanner
Name[ca]=Escàners del YaST
Name[cs]=YaST skener
Name[da]=YaST Scanner
Name[de]=YaST Scanner
Name[el]=Σαρωτής YaST
Name[es]=Escáner de YaST
Name[fi]=YaST – Kuvanlukija
Name[fr]=Scanneur YaST
Name[id]=Pemindai YaST
Name[it]=YaST Scanner
Name[ja]=YaST スキャナ
Name[lt]=YaST skaitytuvas
Name[nl]=YaST scanner
Name[pt_BR]=YaST Scanner
Name[ro]=YaST Scaner
Name[ru]=YaST Сканер
Name[sk]=YaST Skener
Name[sl]=Optični bralniki (YaST)
Name[sv]=YaST Scanner
Name[tr]=YaST Tarayıcı
Name[uk]=YaST Сканер
Name[zh_CN]=YaST 扫描仪
Name[zh_TW]=YaST 掃描器
GenericName=Scanner
GenericName[ar]=الماسح الضوئي
GenericName[bg]=Скенер
GenericName[ca]=Escàner
GenericName[cs]=Skener
GenericName[da]=Scanner
GenericName[de]=Scanner
GenericName[el]=Σαρωτής
GenericName[es]=Escáner
GenericName[fi]=Kuvanlukija
GenericName[fr]=Scanneur
GenericName[gl]=Escáner
GenericName[hu]=Szkenner
GenericName[id]=Pemindai
GenericName[it]=Scanner
GenericName[ja]=スキャナ
GenericName[ko]=스캐너
GenericName[lt]=Skaitytuvas
GenericName[nl]=Scanner
GenericName[pl]=Skaner
GenericName[pt_BR]=Scanner
GenericName[ro]=Scaner
GenericName[ru]=Сканер
GenericName[sk]=Skener
GenericName[sl]=Optični bralniki
GenericName[sv]=Scanner
GenericName[tr]=Tarayıcı
GenericName[uk]=Сканер
GenericName[zh_CN]=扫描仪
GenericName[zh_TW]=掃描器
Comment=Configure a scanner
Comment[ar]=إعداد ماسح ضوئي
Comment[bg]=Настройка на скенер
Comment[ca]=Configureu un escàner
Comment[cs]=Konfigurovat skener
Comment[da]=Konfigurér en scanner
Comment[de]=Konfiguration eines Scanners
Comment[el]=Ρύθμιση ενός σαρωτή
Comment[es]=Configurar un escáner
Comment[fi]=Määritä kuvanlukija
Comment[fr]=Configurer un scanneur
Comment[gl]=Configura un escáner
Comment[hu]=Szkenner konfigurálása
Comment[id]=Konfigurasikan pemindai
Comment[it]=Configura uno scanner
Comment[ja]=スキャナの設定
Comment[ko]=스캐너 구성
Comment[lt]=Konfigūruoti skaitytuvą
Comment[nl]=Een scanner instellen
Comment[pl]=Konfiguruj skaner
Comment[pt_BR]=Configure um scanner
Comment[ro]=Configurați un scaner
Comment[ru]=Настроить сканер
Comment[sk]=Konfigurovať skener
Comment[sl]=Nastavitev optičnih bralnikov
Comment[sv]=Konfigurera en scanner
Comment[tr]=Tarayıcı yapılandır
Comment[uk]=Налаштування сканера
Comment[zh_CN]=配置扫描仪
Comment[zh_TW]=設定掃描器
StartupNotify=true
Hidden=true
