[Desktop Entry]
X-SuSE-DocTeamID=ycc_org.opensuse.yast.SWSource
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Software;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-SuSE-YaST-Call=repositories

X-SuSE-YaST-Group=Software
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=
X-SuSE-YaST-Keywords=software,packages,rpm,repositories
X-SuSE-YaST-WSL=true

Icon=yast-sw_source
Exec=xdg-su -c "/sbin/yast2 repositories"

Name=YaST Software Repositories
Name[ca]=Repositoris de programari del YaST
Name[cs]=YaST úložiště softwaru
Name[da]=YaST Softwarekilder
Name[de]=YaST Software-Repositorys
Name[el]=Αποθετήρια λογισμικού YaST
Name[es]=Repositorios de software de YaST
Name[fi]=YaST – Asennuslähteet
Name[fr]=Dépôts de logiciels de YaST
Name[id]=Repositori Perangkat Lunak YaST
Name[it]=YaST Repository dei programmi
Name[ja]=YaST ソフトウエアリポジトリ
Name[lt]=YaST saugyklos
Name[nl]=YaST software opslagruimtes
Name[pt_BR]=YaST Repositórios de software
Name[ro]=YaST Depozite de software
Name[ru]=YaST Репозитории программного обеспечения
Name[sk]=YaST Softvérové repozitáre
Name[sl]=Viri programske opreme (YaST)
Name[sv]=YaST Programförråd (repo)
Name[uk]=YaST Сховища програмного забезпечення
Name[zh_CN]=YaST 软件源
Name[zh_TW]=YaST 軟體儲存庫
GenericName=Software Repositories
GenericName[ar]=مستودعات البرامج
GenericName[bg]=Софтуерни хранилища
GenericName[ca]=Repositoris de programari
GenericName[cs]=Repozitáře softwaru
GenericName[da]=Softwarekilder
GenericName[de]=Software-Repositories
GenericName[el]=Αποθετήρια λογισμικού
GenericName[es]=Repositorios de software
GenericName[et]=Tarkvarahoidlad
GenericName[fi]=Asennuslähteet
GenericName[fr]=Dépôts de logiciels
GenericName[gl]=Repositorios de software
GenericName[hr]=Repozitoriji programa
GenericName[hu]=Telepítési források
GenericName[id]=Repositori Perangkat Lunak
GenericName[it]=Repository dei programmi
GenericName[ja]=ソフトウエアリポジトリ
GenericName[km]=ឃ្លាំង​កម្មវិធី
GenericName[ko]=소프트웨어 저장소
GenericName[lt]=Saugyklos
GenericName[nb]=Pakkebrønner
GenericName[nl]=Softwarebronnen
GenericName[pa]=ਸਾਫਟਵੇਅਰ ਰਿਪੋਜ਼ਟਰੀਆਂ
GenericName[pl]=Repozytoria oprogramowania
GenericName[pt]=Repositórios de Software
GenericName[pt_BR]=Repositórios de software
GenericName[ro]=Depozite de software
GenericName[ru]=Репозитории программного обеспечения
GenericName[sk]=Softvérové repozitáre
GenericName[sl]=Viri programske opreme
GenericName[sv]=Programförråd (repo)
GenericName[th]=คลังแพกเกจซอฟต์แวร์
GenericName[tr]=Yazılım Veri Havuzları
GenericName[uk]=Сховища програмного забезпечення
GenericName[wa]=Depots des programes
GenericName[zh_CN]=软件源
GenericName[zh_TW]=軟體套件庫
Comment="Choose the repositories for installation of software packages (CD, network, etc.), add the community repositories"
StartupNotify=true
Hidden=true
