[Desktop Entry]
X-SuSE-DocTeamID=ycc_org.opensuse.yast.ServicesManager
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-System;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-SuSE-YaST-Call=services-manager

X-SuSE-YaST-Group=System
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=all
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstClonable=true
X-SuSE-YaST-AutoInstSchema=services-manager.rnc
X-SuSE-YaST-AutoInstResource=services-manager
X-SuSE-YaST-AutoInstResourceAliases=runlevel
X-SuSE-YaST-Keywords=systemd,system,background

Icon=yast-services-manager
Exec=xdg-su -c "/sbin/yast2 services-manager"

Name=YaST Services Manager
Name[ca]=Gestor de serveis del YaST
Name[cs]=YaST správce služeb
Name[da]=YaST Håndtering af tjenester
Name[de]=YaST Dienste-Verwaltung
Name[el]=Διαχειριστής υπηρεσιών YaST
Name[es]=Gestor de servicios de YaST
Name[fi]=YaST – Palvelut
Name[fr]=Gestionnaire de services YaST
Name[id]=Pengelola Layanan YaST
Name[it]=YaST Gestore dei servizi
Name[ja]=YaST サービスマネージャ
Name[lt]=YaST paslaugų tvarkytuvė
Name[nl]=YaST servicesbeheerder
Name[pt_BR]=YaST Gerenciador de serviços
Name[ro]=YaST Administrator de servicii
Name[ru]=YaST Управление службами
Name[sk]=YaST Správca služieb
Name[sl]=Upravljanje storitev (YaST)
Name[sv]=YaST Tjänstehantering
Name[uk]=YaST Управління службами
Name[zh_CN]=YaST 服务管理器
Name[zh_TW]=YaST 服務管理員
GenericName=Services Manager
GenericName[ar]=مدير الخدمات
GenericName[bg]=Диспечер на услугите
GenericName[ca]=Gestor de serveis
GenericName[cs]=Správce služeb
GenericName[da]=Håndtering af tjenester
GenericName[de]=Dienste-Verwaltung
GenericName[el]=Διαχειριστής υπηρεσιών
GenericName[es]=Administrador de servicios
GenericName[fi]=Palvelut
GenericName[fr]=Gestionnaire de services
GenericName[gl]=Xestor de servizos
GenericName[hu]=Szolgáltatáskezelő
GenericName[id]=Pengelola Layanan
GenericName[it]=Gestore dei servizi
GenericName[ja]=サービスマネージャ
GenericName[ko]=서비스 관리자
GenericName[lt]=Paslaugų tvarkytuvė
GenericName[nb]=Tjenestebehandler
GenericName[nl]=Servicesbeheerder
GenericName[pl]=Menedżer usług
GenericName[pt_BR]=Gerenciador de serviços
GenericName[ro]=Administrator de servicii
GenericName[ru]=Управление службами
GenericName[sk]=Správca služieb
GenericName[sl]=Upravljanje storitev
GenericName[sv]=Hantering av tjänster
GenericName[uk]=Управління службами
GenericName[zh_CN]=服务管理器
GenericName[zh_TW]=系統服務管理員
Comment=Configure running services and the default target
Comment[ar]=إعداد الخدمات قيد التشغيل والهدف الافتراضي
Comment[bg]=Настройка на системните услуги
Comment[ca]=Configureu els serveis en execució i la destinació predeterminada
Comment[cs]=Konfigurovat běžící služby a výchozí cíl
Comment[da]=Konfigurér kørende tjenester og standardmålet
Comment[de]=Einrichten der laufenden Dienste und des Standard-Targets (früher Runlevel)
Comment[el]=Ρύθμιση των εκτελούμενων υπηρεσιών και του προεπιλεγμένου στόχου
Comment[es]=Configurar servicios en ejecución y el destino predeterminado
Comment[fi]=Määritä ajettavat palvelut ja oletustavoite
Comment[fr]=Configurer les services actifs et la cible par défaut
Comment[gl]=Configurar os servizos activos e os seus obxectivos por defecto
Comment[hu]=Futó szolgáltatások és az alapértelmezett cél konfigurálása
Comment[id]=Konfigurasikan layanan yang sedang berjalan dan target bawaan
Comment[it]=Configura i servizi in esecuzione e la destinazione predefinita
Comment[ja]=実行中のサービスと既定のターゲットの設定
Comment[ko]=실행 중인 서비스 및 기본 대상 구성
Comment[lt]=Konfigūruoti paleistas paslaugas ir numatytąją paskirtį
Comment[nb]=Sett opp kjørende tjenester og standardmål
Comment[nl]=Actieve services en het standaard target instellen
Comment[pl]=Konfiguruj uruchomione usługi i domyślny element docelowy
Comment[pt_BR]=Configure os serviços em execução e o destino padrão
Comment[ro]=Configurați serviciile care rulează și ținta implicită
Comment[ru]=Настроить запуск служб и цель по умолчанию
Comment[sk]=Konfigurovať spustené služby a predvolený cieľ
Comment[sl]=Nastavitev zagnanih storitev
Comment[sv]=Konfigurera de tjänster som körs och förinställt mål
Comment[uk]=Налаштування запущених служб і типової цілі
Comment[zh_CN]=配置运行中的服务和默认对象
Comment[zh_TW]=設定啟動服務與預設啟動層級
StartupNotify=true
Hidden=true
