[Desktop Entry]
X-SuSE-DocTeamID=ycc_org.opensuse.yast.Remote
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Net_advanced;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-SuSE-YaST-Call=remote

X-SuSE-YaST-Group=Net_advanced
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=write
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=remote
X-SuSE-YaST-Keywords=vnc,network,remote

Icon=yast-remote
Exec=xdg-su -c "/sbin/yast2 remote"

Name=YaST Remote Administration
Name[ca]=Administració remota del YaST
Name[cs]=YaST vzdálená administrace
Name[da]=YaST Fjernadministration
Name[de]=YaST Administration entfernter Rechner
Name[el]=Απομακρυσμένη διαχείριση YaST
Name[es]=Administración remota de YaST
Name[fi]=YaST – Etähallinta
Name[fr]=Administration à distance YaST
Name[id]=Administrasi Jarak Jauh YaST
Name[it]=YaST Amministrazione remota
Name[ja]=YaST リモート管理
Name[lt]=YaST nuotolinis administravimas
Name[nl]=YaST beheer op afstand
Name[pt_BR]=YaST Administração remota
Name[ro]=YaST Administrare la distanță
Name[ru]=YaST: Удалённое администрирование
Name[sk]=YaST Vzdialená správa
Name[sl]=Oddaljeno upravljanje (YaST)
Name[sv]=YaST Fjärradministration
Name[tr]=YaST Uzaktan Yönetim
Name[uk]=YaST Віддалене адміністрування
Name[zh_CN]=YaST 远程管理
Name[zh_TW]=YaST 遠端管理
GenericName=Remote Administration (VNC)
Comment=Set up remote administration
Comment[af]=Stel afstandsadministrasie op
Comment[ar]=إعداد الإدارة عن بُعد
Comment[bg]=Настройка за отдалечено управление
Comment[ca]=Configureu l'administració remota
Comment[cs]=Nastavení vzdálené správy
Comment[da]=Konfiguration af fjernadministration
Comment[de]=Administration entfernter Rechner einrichten
Comment[el]=Ρύθμιση απομακρυσμένης διαχείρισης
Comment[es]=Configurar la administración remota
Comment[et]=Kaughalduse häälestamine
Comment[fi]=Etähallinnan määrittäminen
Comment[fr]=Configurer l'administration à distance
Comment[gl]=Configurar a administración remota
Comment[hr]=Postavi upravljanje na daljinu
Comment[hu]=Távoli felügyelet beállítása
Comment[id]=Mengatur administrasi jarak jauh
Comment[it]=Configura l'amministrazione remota
Comment[ja]=リモート管理の設定
Comment[km]=រៀបចំ​ការ​គ្រប់គ្រង​ពី​ចម្ងាយ
Comment[ko]=원격 관리 설정
Comment[lt]=Konfigūruoti nuotolinį administravimą
Comment[nb]=Sett opp ekstern administrasjon
Comment[nl]=Beheer op afstand opzetten
Comment[pa]=ਰਿਮੋਟ ਪਰਸ਼ਾਸ਼ਨ ਸੈੱਟਅੱਪ
Comment[pl]=Konfiguruj zdalną administrację
Comment[pt]=Configurar administração remota
Comment[pt_BR]=Configure a administração remota
Comment[ro]=Configurează administrarea la distanță
Comment[ru]=Настройка удалённого администрирования
Comment[sk]=Nastaviť vzdialenú správu
Comment[sl]=Nastavitev oddaljenega upravljanja
Comment[sv]=Ställ in fjärradministration
Comment[ta]=இனப்பெயர்(ரிமோட்.டெஸ்க்டாப்): தொலைதூர நிர்வாகத்தை அமைக்கிறது
Comment[th]=ตั้งค่าการจัดการระบบจากระยะไกล
Comment[uk]=Налаштування віддаленого адміністрування
Comment[wa]=Mete e plaece li manaedjmint å lon
Comment[xh]=Misela ulawulo olumgama
Comment[zh_CN]=设置远程管理
Comment[zh_TW]=設定遠端管理
StartupNotify=true
Hidden=true
