[Desktop Entry]
X-SuSE-DocTeamID=ycc_org.opensuse.yast.CheckMedia
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Software;

X-KDE-ModuleType=Library
X-KDE-RootOnly=false
X-KDE-HasReadOnlyMode=true
X-SuSE-YaST-Call=checkmedia

X-SuSE-YaST-Group=Software
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=false
X-SuSE-YaST-AutoInst=
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=
X-SuSE-YaST-Keywords=software,media,check,dvd,cd,packages,repositories

Icon=yast-checkmedia
Exec=/sbin/yast2 checkmedia

Name=YaST Media Check
Name[ca]=Comprovació de mitjans del YaST
Name[cs]=YaST kontrola média
Name[da]=YaST Medietjek
Name[de]=YaST Medien-Überprüfung
Name[el]=Έλεγχος μέσων YaST
Name[es]=Comprobación de soportes de YaST
Name[fi]=YaST – Tietovälineen tarkistus
Name[fr]=Vérification des supports YaST
Name[id]=Cek Media YaST
Name[it]=YaST Verifica del supporto
Name[ja]=YaST メディア確認
Name[lt]=YaST laikmenų tikrinimas
Name[nl]=YaST mediacontrole
Name[pt_BR]=YaST Verificação de mídia
Name[ro]=YaST Verificare media
Name[ru]=YaST Проверка носителя
Name[sk]=YaST Kontrola média
Name[sl]=Preverjanje nosilcev (YaST)
Name[sv]=YaST Mediakontroll
Name[uk]=YaST Перевірка носія
Name[zh_CN]=YaST 介质检查
Name[zh_TW]=YaST 媒體檢查
GenericName=Media Check
GenericName[af]=Media-nagaan
GenericName[ar]=التحقق من الوسائط
GenericName[bg]=Проверка на носителите
GenericName[ca]=Comprovació de suports
GenericName[cs]=Kontrola média
GenericName[da]=Medietjek
GenericName[de]=Medien-Überprüfung
GenericName[el]=Έλεγχος μέσων
GenericName[es]=Comprobación de medios
GenericName[et]=Andmekandja kontroll
GenericName[fi]=Tietovälineen tarkistus
GenericName[fr]=Vérification des supports
GenericName[gl]=Comprobación de soportes
GenericName[hr]=Provjera medija
GenericName[hu]=Adathordozó ellenőrzése
GenericName[id]=Cek Media
GenericName[it]=Verifica del supporto
GenericName[ja]=メディア確認
GenericName[km]=ត្រួតពិនិត្យឧបករណ៍​ផ្ទុក
GenericName[ko]=미디어 확인
GenericName[lt]=Laikmenų tikrinimas
GenericName[nb]=Mediekontroll
GenericName[nl]=Mediacontrole
GenericName[pa]=ਮੀਡਿਆ ਚੈੱਕ
GenericName[pl]=Kontrola nośnika
GenericName[pt]=Verificação de Suporte
GenericName[pt_BR]=Verificação de mídia
GenericName[ro]=Verificare Media
GenericName[ru]=Проверка носителя
GenericName[sk]=Kontrola integrity média
GenericName[sl]=Preverjanje nosilcev
GenericName[sv]=Mediakontroll
GenericName[ta]=பெயர்(செக்மீடியா.டெஸ்க்டாப்): மீடியா சரிபார்ப்பு
GenericName[th]=ตรวจสอบสื่อ
GenericName[uk]=Перевірка носія
GenericName[wa]=Verifyî media
GenericName[xh]=Uqwalaselo Lwezilondolozi
GenericName[zh_CN]=介质检查
GenericName[zh_TW]=媒體檢查
Comment=Verify CD and DVD media integrity
Comment[af]=Bevestig CD- en DVD-media-integriteit na
Comment[ar]=تحقق من سلامة وسائط الأقراص المضغوطة وأقراص الفيديو الرقمية
Comment[bg]=Удостоверяване интегритета на CD и DVD носителите
Comment[ca]=Verifiqueu la integritat dels suports de CD i DVD
Comment[cs]=Kontrola integrity CD a DVD médií
Comment[da]=Verificér integriteten af cd- eller dvd-medie
Comment[de]=Integrität von CD- und DVD-Medien prüfen
Comment[el]=Ανίχνευση ακεραιότητας CD και DVD
Comment[es]=Verificar la integridad de medios CD y DVD
Comment[et]=CD- ja DVD-andmekandjate korrasoleku kontroll
Comment[fi]=Tarkista CD- ja DVD-levyjen yhtenäisyys
Comment[fr]=Vérifier l'intégrité des supports CD/DVD
Comment[gl]=Verificar a integridade do soporte CD e DVD
Comment[hr]=Provjeri integritet CD i DVD medija
Comment[hu]=CD és DVD adathordozók integritásának ellenőrzése
Comment[id]=Verifikasikan integritas media CD dan DVD
Comment[it]=Verifica l'integrità dei supporti (CD e DVD)
Comment[ja]=CD および DVD メディアの整合性を検証する
Comment[km]=ផ្ទៀងផ្ទាត់​ភាព​ត្រឹមត្រូវ​របស់​ស៊ីឌី និង​ឌីវីឌី​
Comment[ko]=CD 및 DVD 매체 무결성 검사
Comment[lt]=Patikrinkite CD ar DVD laikmenos vientisumą
Comment[nb]=Kontroller integriteten til CD/DVD-medier
Comment[nl]=Verifieer de integriteit van CD- en DVD-schijven
Comment[pa]=CD ਅਤੇ DVD ਮੀਡਿਆ ਐਂਟੀਗਰੇਟੀ ਚੈੱਕ
Comment[pl]=Weryfikuj integralność nośnika CD/DVD
Comment[pt]=Verificar integridade do suporte CD e DVD
Comment[pt_BR]=Verifique a integridade da mídia de CD e DVD
Comment[ro]=Verificați integritatea mediilor CD și DVD
Comment[ru]=Проверка совместимости носителя CD и DVD
Comment[sk]=Skontrolovať integritu CD a DVD médií
Comment[sl]=Preverjanje celovitosti nosilcev CD in DVD
Comment[sv]=Verifiera cd- och dvd-mediaintegritet
Comment[ta]=இனப்பெயர்(செக்மீடியா.டெஸ்க்டாப்): சிடி மற்றும் டிவிடி மீடியா நம்பகத்தன்மையை சரிபார்க்கிறது
Comment[th]=ตรวจสอบความสมบูรณ์ของแผ่นซีดีหรือแผ่นดีวีดี
Comment[uk]=Перевірити цілісність носія КД або DVD
Comment[wa]=Verifyî kel plake CD ou DVD soeye saive
Comment[xh]=Nyanisekisa i-CD nengqiqo yezilondolozi ze-DVD
Comment[zh_CN]=校验 CD 和 DVD 介质的完整性
Comment[zh_TW]=檢查 CD 與 DVD 媒體完整性
StartupNotify=true
Hidden=true
