[Desktop Entry]
X-SuSE-DocTeamID=ycc_org.opensuse.yast.Disk
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-System;

X-KDE-HasReadOnlyMode=true
X-SuSE-YaST-Call=partitioner

X-SuSE-YaST-Group=System
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=
X-SuSE-YaST-Keywords=storage,disk,system,partition

Icon=yast-disk
Exec=xdg-su -c "/sbin/yast2 partitioner"

Name=YaST Partitioner
Name[ca]=Particions del YaST
Name[cs]=YaST dělení disku (na oddíly)
Name[da]=YaST Partitionering
Name[de]=YaST Partitionierer
Name[el]=Διαχείριση κατατμήσεων YaST
Name[es]=Particionador de YaST
Name[fi]=YaST – Osiointityökalu
Name[fr]=Partitionneur YaST
Name[id]=Pemartisi YaST
Name[it]=YaST Partizionatore
Name[ja]=YaST パーティション設定
Name[lt]=YaST skaidinių tvarkytuvė
Name[nl]=YaST partitionering
Name[pt_BR]=YaST Particionador
Name[ro]=YaST Utilitar de partiționare
Name[ru]=YaST Разметка
Name[sk]=YaST Rozdelenie disku
Name[sl]=Upravljanje razdelkov (YaST)
Name[sv]=YaST Partitioner
Name[uk]=YaST Розподіл носіїв
Name[zh_CN]=YaST 磁盘分区
Name[zh_TW]=YaST 磁碟分割程式
GenericName=Partitioner
GenericName[ar]=المجزء
GenericName[bg]=Дялове на диска
GenericName[ca]=Particions
GenericName[cs]=Dělení disku
GenericName[da]=Partitionering
GenericName[de]=Partitionierer
GenericName[el]=Διαχείριση κατατμήσεων
GenericName[es]=Particionador
GenericName[et]=Kettajaotised
GenericName[fi]=Osiointityökalu
GenericName[fr]=Partitionneur
GenericName[gl]=Particionador
GenericName[hr]=Program za izradu particija
GenericName[hu]=Particionálás
GenericName[id]=Pemartisi
GenericName[it]=Partizionatore
GenericName[ja]=パーティション設定
GenericName[km]=កម្មវិធី​ចែក​ភាគថាស
GenericName[ko]=파티션 도구
GenericName[lt]=Skaidinių tvarkytuvė
GenericName[nb]=Partisjonering
GenericName[nl]=Partitionering
GenericName[pa]=ਪਾਰਟੀਸ਼ਨਰ
GenericName[pl]=Partycjonowanie
GenericName[pt]=Particionador
GenericName[pt_BR]=Particionador
GenericName[ro]=Utilitar de partiționare
GenericName[ru]=Разметка
GenericName[sk]=Rozdelenie disku
GenericName[sl]=Upravljanje razdelkov
GenericName[sv]=Partitioner
GenericName[th]=เครื่องมือจัดการพาร์ทิชัน
GenericName[tr]=Disk bölümlendiricisi
GenericName[uk]=Розподіл диска на розділи
GenericName[wa]=Pårti
GenericName[zh_CN]=磁盘分区
GenericName[zh_TW]=磁碟分割程式
Comment="Partition hard disks (including RAID, LVM, and encrypted file systems)"
StartupNotify=true
Hidden=true
