[Desktop Entry]
X-SuSE-DocTeamID=ycc_org.opensuse.yast.Installation
Type=Application
Hidden=true
Categories=Settings;System;Documentation;

Icon=yast-installation
Exec=/bin/true

Name=YaST Installation
Name[ca]=Instal·lació del YaST
Name[cs]=YaST instalace
Name[da]=YaST Installation
Name[de]=YaST Installation
Name[el]=Εγκατάσταση YaST
Name[es]=Instalación de YaST
Name[fi]=YaST – Asennus
Name[fr]=Installation YaST
Name[id]=Pemasangan YaST
Name[it]=Installazione YaST
Name[ja]=YaST インストール
Name[lt]=YaST diegimas
Name[nl]=YaST installatie
Name[pt_BR]=YaST Instalação
Name[ro]=YaST Instalare
Name[ru]=YaST Установка
Name[sk]=YaST Inštalácia
Name[sl]=Namestitev (YaST)
Name[sv]=YaST Installation
Name[tr]=YaST Kurulum
Name[uk]=YaST Встановлення
Name[zh_CN]=YaST 安装
Name[zh_TW]=YaST 安裝
GenericName=System Upgrade
GenericName[ca]=Actualització del sistema
GenericName[cs]=Povýšení systému
GenericName[da]=Systemopgradering
GenericName[de]=Systemaktualisierung
GenericName[el]=Αναβάθμιση συστήματος
GenericName[es]=Actualización del sistema
GenericName[fi]=Järjestelmän päivitys
GenericName[fr]=Mise à niveau du système
GenericName[id]=Peningkatan Sistem
GenericName[it]=Aggiornamento del sistema
GenericName[ja]=システムアップグレード
GenericName[lt]=Sistemos naujovinimas
GenericName[nl]=Systeemopwaardering
GenericName[pt_BR]=Atualizar Sistema
GenericName[ro]=Upgrade de sistem
GenericName[ru]=Обновление системы
GenericName[sk]=Zvýšenie verzie systému
GenericName[sl]=Namestitev sistema
GenericName[sv]=Systemuppgradering
GenericName[tr]=Sistem Yükseltme
GenericName[uk]=Оновлення системи
GenericName[zh_CN]=系统升级
GenericName[zh_TW]=系統升級
Comment=Install system to the system
Comment[ca]=Instal·leu el sistema al sistema
Comment[cs]=Instalovat systém na systém
Comment[da]=Installer systemet på systemet
Comment[de]=System auf dem System installieren
Comment[el]=Εγκαταστήστε το σύστημα στο σύστημα
Comment[es]=Instalar system en el sistema
Comment[fi]=Asenna järjestelmä järjestelmään
Comment[fr]=Installer le système sur le système
Comment[id]=Memasang sistem ke sistem
Comment[it]=Installa il sistema sul sistema
Comment[ja]=システムへのインストール
Comment[lt]=Įdiegti sistemą į kompiuterį
Comment[nl]=Installeer systeem naar het systeem
Comment[pt_BR]=Instale o sistema no sistema
Comment[ro]=Instalați sistemul în sistem
Comment[ru]=Установить систему в систему
Comment[sk]=Nainštalovať systém do systému
Comment[sl]=namestitev sistema na računalnik
Comment[sv]=Installera systemet på systemet
Comment[uk]=Встановлення системи в систему
Comment[zh_CN]=安装系统到本机
Comment[zh_TW]=將系統安裝至系統
StartupNotify=true
Hidden=true
