[Desktop Entry]
X-SuSE-DocTeamID=ycc_org.opensuse.yast.LAN
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-System;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-SuSE-YaST-Call=lan

X-SuSE-YaST-Group=System
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=all
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=networking
X-SuSE-YaST-AutoInstClonable=true
X-SuSE-YaST-AutoInstSchema=networking.rnc
X-SuSE-YaST-AutoInstRequires=host

Icon=yast-lan
Exec=xdg-su -c "/sbin/yast2 lan"

Name=YaST Network
Name[ca]=Xarxa del YaST
Name[cs]=YaST síť
Name[da]=YaST Netværk
Name[de]=YaST Netzwerk
Name[el]=Δίκτυο YaST
Name[es]=Red de YaST
Name[fi]=YaST – Verkko
Name[fr]=Réseau YaST
Name[id]=Jaringan YaST
Name[it]=YaST rete
Name[ja]=YaST ネットワーク
Name[lt]=YaST tinklas
Name[nl]=YaST netwerk
Name[pt_BR]=YaST Rede
Name[ro]=YaST Rețea
Name[ru]=YaST Сеть
Name[sk]=YaST Sieť
Name[sl]=Omrežje (YaST)
Name[sv]=YaST Nätverk
Name[uk]=YaST Мережа
Name[zh_CN]=YaST 网络
Name[zh_TW]=YaST 網路
GenericName=Network Settings
GenericName[ar]=إعدادات الشّبكة
GenericName[bg]=Мрежа
GenericName[ca]=Paràmetres de la xarxa
GenericName[cs]=Nastavení sítě
GenericName[da]=Netværksindstillinger
GenericName[de]=Netzwerkeinstellungen
GenericName[el]=Ρυθμίσεις δικτύου
GenericName[es]=Configuración de red
GenericName[et]=Võrgu häälestamine
GenericName[fi]=Verkon asetukset
GenericName[fr]=Paramètres réseau
GenericName[gl]=Opcións de rede
GenericName[hr]=Mrežne postavke
GenericName[hu]=Hálózati beállítások
GenericName[id]=Pengaturan Jaringan
GenericName[it]=Impostazioni di rete
GenericName[ja]=ネットワークの設定
GenericName[km]=ការ​កំណត់​បណ្ដាញ
GenericName[ko]=네트워크 설정
GenericName[lt]=Tinklo nuostatos
GenericName[nb]=Nettverksinnstillinger
GenericName[nl]=Netwerkinstellingen
GenericName[pa]=ਨੈੱਟਵਰਕ ਸੈਟਿੰਗ
GenericName[pl]=Ustawienia sieciowe
GenericName[pt]=Definições de Rede
GenericName[pt_BR]=Configurações da rede
GenericName[ro]=Setări de rețea
GenericName[ru]=Сетевые настройки
GenericName[sk]=Nastavenia siete
GenericName[sl]=Omrežne nastavitve
GenericName[sv]=Nätverksinställningar
GenericName[th]=ตั้งค่าเครือข่าย
GenericName[uk]=Параметри мережі
GenericName[wa]=Tchuzes del rantoele
GenericName[zh_CN]=网络设置
GenericName[zh_TW]=網路設定
Comment="Configure network cards, hostname and routing"
StartupNotify=true
X-SuSE-YaST-Keywords=network,lan,dns,routing
Hidden=true
