[Desktop Entry]
X-SuSE-DocTeamID=ycc_org.opensuse.yast.Security
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Security;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-SuSE-YaST-Call=security

X-SuSE-YaST-Group=Security
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=all
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=security
X-SuSE-YaST-AutoInstClonable=true
X-SuSE-YaST-AutoInstSchema=security.rnc
X-SuSE-YaST-Keywords=security,system settings

Icon=yast-security
Exec=xdg-su -c "/sbin/yast2 security"

Name=YaST Security Center
Name[ca]=Centre de seguretat del YaST
Name[cs]=YaST bezpečnostní centrum
Name[da]=YaST Sikkerhedscenter
Name[de]=YaST Sicherheits-Center
Name[el]=Κέντρο ασφαλείας YaST
Name[es]=Centro de seguridad de YaST
Name[fi]=YaST – Tietoturvakeskus
Name[fr]=Centre de sécurité YaST
Name[id]=Pusat Keamanan YaST
Name[it]=YaST Centro di sicurezza
Name[ja]=YaST セキュリティセンター
Name[lt]=YaST saugumo centras
Name[nl]=YaST beveiligingscentrum
Name[pt_BR]=YaST Segurança e usuários
Name[ro]=YaST Centrul de securitate
Name[ru]=YaST Центр безопасности
Name[sk]=YaST Bezpečnostné centrum
Name[sl]=Varnostno središče (YaST)
Name[sv]=YaST Säkerhetscenter
Name[tr]=YaST Güvenlik Merkezi
Name[uk]=YaST Центр безпеки
Name[zh_CN]=YaST 安全中心
Name[zh_TW]=YaST 安全中心
GenericName=Security Center
GenericName[ca]=Centre de seguretat
GenericName[cs]=Bezpečnostní centrum
GenericName[da]=Sikkerhedscenter
GenericName[de]=Security Center
GenericName[el]=Κέντρο ασφαλείας
GenericName[es]=Centro de seguridad
GenericName[fi]=Tietoturva
GenericName[fr]=Centre de sécurité
GenericName[id]=Pusat Keamanan
GenericName[it]=Centro di sicurezza
GenericName[ja]=セキュリティセンター
GenericName[lt]=Saugumo centras
GenericName[nl]=Beveiligingscentrum
GenericName[pt_BR]=Central de Segurança
GenericName[ro]=Centrul de securitate
GenericName[ru]=Центр безопасности
GenericName[sk]=Bezpečnostné centrum
GenericName[sl]=Varnostno središče
GenericName[sv]=Säkerhetscenter
GenericName[tr]=Güvenlik Merkezi
GenericName[uk]=Центр безпеки
GenericName[zh_CN]=安全中心
GenericName[zh_TW]=安全中心
Comment=Configure local security settings and hardening
Comment[ca]=Configureu els paràmetres de seguretat locals i l'enduriment
Comment[cs]=Konfigurovat nastavení a utvrzení místní bezpečnosti
Comment[da]=Konfigurér lokale sikkerhedsindstillinger og hardening
Comment[de]=Lokale Sicherheits- und Schutzeinstellungen einrichten
Comment[el]=Ρύθμιση τοπικών ρυθμίσεων ασφάλειας
Comment[es]=Configurar los ajustes de seguridad local y fortalecimiento
Comment[fi]=Määritä paikalliset turvallisuusasetukset
Comment[fr]=Configurer les paramètres de sécurité locale et le durcissement
Comment[id]=Konfigurasikan pengaturan keamanan lokal dan pengerasan (hardening)
Comment[it]=Configura le impostazioni di sicurezza locali e la protezione avanzata
Comment[ja]=ローカルセキュリティの強化設定
Comment[lt]=Konfigūruoti vietinės apsaugos nuostatas
Comment[nl]=Lokale beveiligingsinstellingen en harder maken configureren
Comment[pt_BR]=Definir configurações de segurança local e proteção
Comment[ro]=Configurați setările de securitate locală și întărirea
Comment[ru]=Настроить параметры защиты и локальной безопасности
Comment[sk]=Konfigurovať nastavenia lokálneho zabezpečenia a zodolnenia
Comment[sl]=Nastavitev krajevne varnosti
Comment[sv]=Konfigurera lokala säkerhetsinställningar och härdning
Comment[tr]=Yerel güvenlik ayarlarını ve sağlamlaştırmayı yapılandır
Comment[uk]=Налаштувати параметри локальної безпеки та захисту
Comment[zh_CN]=配置本地安全设置和强化
Comment[zh_TW]=設定本地安全性設定及強化
StartupNotify=true
Hidden=true
