[Desktop Entry]
X-SuSE-DocTeamID=ycc_org.opensuse.yast.ReleaseNotes
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Support;

X-SuSE-YaST-Call=inst_release_notes
X-SuSE-YaST-RootOnly=false
X-SuSE-YaST-Group=Support
X-SuSE-YaST-Keywords=support,installation,notes,documentation

Icon=yast-release-notes
Exec=/sbin/yast2 inst_release_notes

Name=YaST Release Notes
Name[ca]=Notes de la versió del YaST
Name[cs]=YaST poznámky k vydání
Name[da]=YaST Udgivelsesnoter
Name[de]=YaST Versionshinweise
Name[el]=Σημειώσεις έκδοσης YaST
Name[es]=Informe de novedades de YaST
Name[fi]=YaST – Julkaisutiedot
Name[fr]=Notes de version YaST
Name[id]=Catatan Rilis YaST
Name[it]=YaST Note di rilascio
Name[ja]=YaST リリースノート
Name[lt]=YaST informacija apie laidą
Name[nl]=YaST uitgavenotities
Name[pt_BR]=YaST Notas de lançamento
Name[ro]=YaST Note de lansare
Name[ru]=YaST Примечания к выпуску
Name[sk]=YaST Poznámky k vydaniu
Name[sl]=Opombe k izdaji (YaST)
Name[sv]=YaST Viktig information
Name[tr]=YaST Sürüm Notları
Name[uk]=YaST Примітки до випуску
Name[zh_CN]=YaST 版本资讯
Name[zh_TW]=YaST 版本說明
GenericName=Release Notes
GenericName[ar]=ملاحظات الإصدار
GenericName[bg]=Бележки по изданието
GenericName[ca]=Notes de la versió
GenericName[cs]=Poznámky k vydání
GenericName[da]=Udgivelsesnoter
GenericName[de]=Versionshinweise
GenericName[el]=Σημειώσεις έκδοσης
GenericName[es]=Notas de la versión
GenericName[fi]=Julkaisutiedot
GenericName[fr]=Notes de version
GenericName[gl]=Notas do lanzamento
GenericName[hu]=Kiadási megjegyzések
GenericName[id]=Catatan Rilis
GenericName[it]=Note di rilascio
GenericName[ja]=リリースノート
GenericName[ko]=릴리스 정보
GenericName[lt]=Laidos informacija
GenericName[nl]=Uitgavenotities
GenericName[pl]=Informacje o wydaniu
GenericName[pt_BR]=Notas de lançamento
GenericName[ro]=Note de lansare
GenericName[ru]=Примечания к выпуску
GenericName[sk]=Poznámky k vydaniu
GenericName[sl]=Opombe k izdaji
GenericName[sv]=Viktig information
GenericName[tr]=Sürüm Notları
GenericName[uk]=Примітки до випуску
GenericName[zh_CN]=版本资讯
GenericName[zh_TW]=發行紀事
Comment=Show Release Notes
Comment[ar]=عرض ملاحظات الإصدار
Comment[bg]=Показване на бележките по изданието
Comment[ca]=Vegeu les notes de la versió
Comment[cs]=Zobrazit Poznámky k vydání
Comment[da]=Vis udgivelsesnoter
Comment[de]=Versionshinweise anzeigen
Comment[el]=Εμφάνιση σημειώσεων έκδοσης
Comment[es]=Mostrar las notas de la versión
Comment[fi]=Näytä julkaisutiedot
Comment[fr]=Afficher les notes de version
Comment[gl]=Amosar as notas do lanzamento
Comment[hu]=Kiadási megjegyzések megjelenítése
Comment[id]=Tampilkan Catatan Rilis
Comment[it]=Mostra le note di rilascio
Comment[ja]=リリースノートの表示
Comment[ko]=릴리스 정보 표시
Comment[lt]=Informacija apie šią laidą
Comment[nl]=Uitgavenotities tonen
Comment[pl]=Pokaż informacje o wydaniu
Comment[pt_BR]=Exiba as notas de lançamento
Comment[ro]=Afișează notele de lansare
Comment[ru]=Показать примечания к выпуску
Comment[sk]=Ukázať poznámky k vydaniu
Comment[sl]=Prikaz opomb k izdaji
Comment[sv]=Visa viktig information
Comment[tr]=Sürüm Notlarını Göster
Comment[uk]=Показати примітки до випуску
Comment[zh_CN]=显示版本资讯
Comment[zh_TW]=顯示發行紀事
StartupNotify=true
Hidden=true
