[Desktop Entry]
X-SuSE-DocTeamID=ycc_org.opensuse.yast.Group.Hardware
Type=Application
Categories=Qt;X-SuSE-YaST;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true

X-SuSE-YaST-Group=Hardware
X-SuSE-YaST-SortKey=20

OnlyShowIn=X-SuSE-YaST;
Icon=yast-hardware-group

Name=Hardware
Name[af]=Hardeware
Name[ar]=العتاد
Name[bg]=Хардуер
Name[ca]=Maquinari
Name[cs]=Hardware
Name[da]=Hardware
Name[de]=Hardware
Name[el]=Υλικό
Name[es]=Hardware
Name[et]=Riistvara
Name[fi]=Laitteisto
Name[fr]=Matériel
Name[gl]=Hardware
Name[hr]=Sklopovlje
Name[hu]=Hardver
Name[id]=Perangkat Keras
Name[it]=Hardware
Name[ja]=ハードウエア
Name[km]=ផ្នែករឹង
Name[ko]=하드웨어
Name[lt]=Aparatinė įranga
Name[mr]=हार्डवेअर
Name[nb]=Maskinvare
Name[nl]=Hardware
Name[pa]=ਹਾਰਡਵੇਅਰ
Name[pl]=Sprzęt
Name[pt]=Hardware
Name[pt_BR]=Hardware
Name[ro]=Hardware
Name[ru]=Оборудование
Name[sk]=Hardvér
Name[sl]=Strojna oprema
Name[sv]=Hårdvara
Name[ta]=பெயர்(ஹார்ட்வேர்.டெஸ்க்டாப்): வன்பொருள்
Name[th]=ฮาร์ดแวร์
Name[tr]=Donanım
Name[uk]=Обладнання
Name[wa]=Éndjolreye
Name[xh]=Okungaphakathi Kwiqokobhe Lekhompyutha
Name[zh_CN]=硬件
Name[zh_TW]=硬體
GenericName=Hardware
GenericName[af]=Hardeware
GenericName[ar]=العتاد
GenericName[bg]=Хардуер
GenericName[ca]=Maquinari
GenericName[cs]=Hardware
GenericName[da]=Hardware
GenericName[de]=Hardware
GenericName[el]=Υλικό
GenericName[es]=Hardware
GenericName[et]=Riistvara
GenericName[fi]=Laitteisto
GenericName[fr]=Matériel
GenericName[gl]=Hardware
GenericName[hr]=Sklopovlje
GenericName[hu]=Hardver
GenericName[id]=Perangkat Keras
GenericName[it]=Hardware
GenericName[ja]=ハードウエア
GenericName[km]=ផ្នែករឹង
GenericName[ko]=하드웨어
GenericName[lt]=Aparatinė įranga
GenericName[mr]=हार्डवेअर
GenericName[nb]=Maskinvare
GenericName[nl]=Hardware
GenericName[pa]=ਹਾਰਡਵੇਅਰ
GenericName[pl]=Sprzęt
GenericName[pt]=Hardware
GenericName[pt_BR]=Hardware
GenericName[ro]=Hardware
GenericName[ru]=Оборудование
GenericName[sk]=Hardvér
GenericName[sl]=Strojna oprema
GenericName[sv]=Hårdvara
GenericName[ta]=பெயர்(ஹார்ட்வேர்.டெஸ்க்டாப்): வன்பொருள்
GenericName[th]=ฮาร์ดแวร์
GenericName[tr]=Donanım
GenericName[uk]=Обладнання
GenericName[wa]=Éndjolreye
GenericName[xh]=Okungaphakathi Kwiqokobhe Lekhompyutha
GenericName[zh_CN]=硬件
GenericName[zh_TW]=硬體

Exec=/sbin/yast2
Hidden=true
