[Desktop Entry]
X-SuSE-DocTeamID=ycc_org.opensuse.yast.Group.Support
Type=Application
Categories=Qt;X-SuSE-YaST;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true

X-SuSE-YaST-Group=Support
X-SuSE-YaST-SortKey=90

OnlyShowIn=X-SuSE-YaST;
Icon=yast-support-group

Name=Support
Name[ar]=دعم
Name[bg]=Поддръжка
Name[ca]=Suport
Name[cs]=Podpora
Name[da]=Support
Name[de]=Unterstützung
Name[el]=Υποστήριξη
Name[es]=Asistencia
Name[et]=Tugi
Name[fi]=Tuki
Name[fr]=Support
Name[gl]=Asistencia técnica
Name[hr]=Podrška
Name[hu]=Támogatás
Name[id]=Dukungan
Name[it]=Supporto
Name[ja]=サポート
Name[km]=គាំទ្រ
Name[ko]=지원
Name[lt]=Palaikymas
Name[nb]=Brukerstøtte
Name[nl]=Ondersteuning
Name[pa]=ਸਹਿਯੋਗ
Name[pl]=Wsparcie
Name[pt]=Suporte
Name[pt_BR]=Suporte
Name[ro]=Asistență
Name[ru]=Поддержка
Name[sk]=Podpora
Name[sl]=Podpora
Name[sv]=Support
Name[th]=สนับสนุน
Name[tr]=Destek
Name[uk]=Підтримка
Name[wa]=Sopoirt
Name[zh_CN]=支持
Name[zh_TW]=支援
GenericName=Support
GenericName[ar]=دعم
GenericName[bg]=Поддръжка
GenericName[ca]=Suport
GenericName[cs]=Podpora
GenericName[da]=Support
GenericName[de]=Unterstützung
GenericName[el]=Υποστήριξη
GenericName[es]=Asistencia
GenericName[et]=Tugi
GenericName[fi]=Tuki
GenericName[fr]=Support
GenericName[gl]=Asistencia técnica
GenericName[hr]=Podrška
GenericName[hu]=Támogatás
GenericName[id]=Dukungan
GenericName[it]=Supporto
GenericName[ja]=サポート
GenericName[km]=គាំទ្រ
GenericName[ko]=지원
GenericName[lt]=Palaikymas
GenericName[nb]=Brukerstøtte
GenericName[nl]=Ondersteuning
GenericName[pa]=ਸਹਿਯੋਗ
GenericName[pl]=Wsparcie
GenericName[pt]=Suporte
GenericName[pt_BR]=Suporte
GenericName[ro]=Asistență
GenericName[ru]=Поддержка
GenericName[sk]=Podpora
GenericName[sl]=Podpora
GenericName[sv]=Support
GenericName[th]=สนับสนุน
GenericName[tr]=Destek
GenericName[uk]=Підтримка
GenericName[wa]=Sopoirt
GenericName[zh_CN]=支持
GenericName[zh_TW]=支援

Exec=/sbin/yast2
Hidden=true
