[Desktop Entry]
X-SuSE-DocTeamID=ycc_org.opensuse.yast.Group.NetworkServices
Type=Application
Categories=Qt;X-SuSE-YaST;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true

X-SuSE-YaST-Group=Net_advanced
X-SuSE-YaST-SortKey=40

OnlyShowIn=X-SuSE-YaST;
Icon=yast-network-group

Name=Network Services
Name[af]=Netwerkdienste
Name[ar]=خدمات الشبكة
Name[bg]=Мрежови услуги
Name[ca]=Serveis de xarxa
Name[cs]=Služby sítě
Name[da]=Netværkstjenester
Name[de]=Netzwerkdienste
Name[el]=Υπηρεσίες δικτύου
Name[es]=Servicios de red
Name[et]=Võrguteenused
Name[fi]=Verkkopalvelut
Name[fr]=Services réseau
Name[gl]=Servizos de rede
Name[hr]=Mrežne usluge
Name[hu]=Hálózati szolgáltatások
Name[id]=Layanan Jaringan
Name[it]=Servizi di rete
Name[ja]=ネットワークサービス
Name[km]=សេវា​បណ្ដាញ
Name[ko]=네트워크 서비스
Name[lt]=Tinklo paslaugos
Name[mr]=नेटवर्क सेवा
Name[nb]=Nettverkstjenester
Name[nl]=Netwerkservices
Name[pa]=ਨੈੱਟਵਰਕ ਸਰਵਿਸਾਂ
Name[pl]=Usługi sieciowe
Name[pt]=Serviços de Rede
Name[pt_BR]=Serviços de rede
Name[ro]=Servicii de rețea
Name[ru]=Сетевые службы
Name[sk]=Sieťové služby
Name[sl]=Omrežne storitve
Name[sv]=Nätverkstjänster
Name[ta]=பெயர்(நெட்வொர்க்_சர்வீசஸ்.டெஸ்க்டாப்): வலையமைப்பு சேவைகள்
Name[th]=บริการของเครือข่าย
Name[tr]=Ağ Hizmetleri
Name[uk]=Мережні служби
Name[wa]=Siervices rantoele
Name[xh]=Iinkonzo Zomsebenzi Wothungelwano
Name[zh_CN]=网络服务
Name[zh_TW]=網路服務
GenericName=Network Services
GenericName[af]=Netwerkdienste
GenericName[ar]=خدمات الشبكة
GenericName[bg]=Мрежови услуги
GenericName[ca]=Serveis de xarxa
GenericName[cs]=Služby sítě
GenericName[da]=Netværkstjenester
GenericName[de]=Netzwerkdienste
GenericName[el]=Υπηρεσίες δικτύου
GenericName[es]=Servicios de red
GenericName[et]=Võrguteenused
GenericName[fi]=Verkkopalvelut
GenericName[fr]=Services réseau
GenericName[gl]=Servizos de rede
GenericName[hr]=Mrežne usluge
GenericName[hu]=Hálózati szolgáltatások
GenericName[id]=Layanan Jaringan
GenericName[it]=Servizi di rete
GenericName[ja]=ネットワークサービス
GenericName[km]=សេវា​បណ្ដាញ
GenericName[ko]=네트워크 서비스
GenericName[lt]=Tinklo paslaugos
GenericName[mr]=नेटवर्क सेवा
GenericName[nb]=Nettverkstjenester
GenericName[nl]=Netwerkservices
GenericName[pa]=ਨੈੱਟਵਰਕ ਸਰਵਿਸਾਂ
GenericName[pl]=Usługi sieciowe
GenericName[pt]=Serviços de Rede
GenericName[pt_BR]=Serviços de rede
GenericName[ro]=Servicii de rețea
GenericName[ru]=Сетевые службы
GenericName[sk]=Sieťové služby
GenericName[sl]=Omrežne storitve
GenericName[sv]=Nätverkstjänster
GenericName[ta]=பெயர்(நெட்வொர்க்_சர்வீசஸ்.டெஸ்க்டாப்): வலையமைப்பு சேவைகள்
GenericName[th]=บริการของเครือข่าย
GenericName[tr]=Ağ Hizmetleri
GenericName[uk]=Мережні служби
GenericName[wa]=Siervices rantoele
GenericName[xh]=Iinkonzo Zomsebenzi Wothungelwano
GenericName[zh_CN]=网络服务
GenericName[zh_TW]=網路服務

Exec=/sbin/yast2
Hidden=true
