[Desktop Entry]
X-SuSE-DocTeamID=ycc_org.opensuse.yast.Group.System
Type=Application
Categories=Qt;X-SuSE-YaST;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true

X-SuSE-YaST-Group=System
X-SuSE-YaST-SortKey=20

OnlyShowIn=X-SuSE-YaST;
Icon=yast-system-group

Name=System
Name[af]=Stelsel
Name[ar]=النظام
Name[be]=Сістэма
Name[bg]=Система
Name[bn]=সিস্টেম
Name[bs]=Sistem
Name[ca]=Sistema
Name[cs]=Systém
Name[cy]=Cysawd
Name[da]=System
Name[de]=System
Name[el]=Σύστημα
Name[es]=Sistema
Name[et]=Süsteem
Name[fi]=Järjestelmä
Name[fr]=Système
Name[gl]=Sistema
Name[he]=מערכת
Name[hi]=तंत्र
Name[hr]=Sustav
Name[hu]=Rendszer
Name[id]=Sistem
Name[it]=Sistema
Name[ja]=システム
Name[ka]=სისტემა
Name[km]=ប្រព័ន្ធ
Name[ko]=시스템
Name[lo]=ຈັດການລະບົບ
Name[lt]=Sistema
Name[mk]=Систем
Name[mr]=प्रणाली
Name[nb]=System
Name[nl]=Systeem
Name[pa]=ਸਿਸਟਮ
Name[pl]=System
Name[pt]=Sistema
Name[pt_BR]=Sistema
Name[ro]=Sistem
Name[ru]=Система
Name[sk]=Systém
Name[sl]=Sistem
Name[sr]=Систем
Name[sv]=System
Name[ta]=அமைப்பு
Name[tg]=Система
Name[th]=ระบบ
Name[tr]=Sistem
Name[uk]=Система
Name[vi]=Hệ thống
Name[wa]=Sistinme
Name[xh]=Indlela esestyenziswayo
Name[zh_CN]=系统
Name[zh_TW]=系統
Name[zu]=Isistimu
GenericName=System
GenericName[af]=Stelsel
GenericName[ar]=النظام
GenericName[be]=Сістэма
GenericName[bg]=Система
GenericName[bn]=সিস্টেম
GenericName[bs]=Sistem
GenericName[ca]=Sistema
GenericName[cs]=Systém
GenericName[cy]=Cysawd
GenericName[da]=System
GenericName[de]=System
GenericName[el]=Σύστημα
GenericName[es]=Sistema
GenericName[et]=Süsteem
GenericName[fi]=Järjestelmä
GenericName[fr]=Système
GenericName[gl]=Sistema
GenericName[he]=מערכת
GenericName[hi]=तंत्र
GenericName[hr]=Sustav
GenericName[hu]=Rendszer
GenericName[id]=Sistem
GenericName[it]=Sistema
GenericName[ja]=システム
GenericName[ka]=სისტემა
GenericName[km]=ប្រព័ន្ធ
GenericName[ko]=시스템
GenericName[lo]=ຈັດການລະບົບ
GenericName[lt]=Sistema
GenericName[mk]=Систем
GenericName[mr]=प्रणाली
GenericName[nb]=System
GenericName[nl]=Systeem
GenericName[pa]=ਸਿਸਟਮ
GenericName[pl]=System
GenericName[pt]=Sistema
GenericName[pt_BR]=Sistema
GenericName[ro]=Sistem
GenericName[ru]=Система
GenericName[sk]=Systém
GenericName[sl]=Sistem
GenericName[sr]=Систем
GenericName[sv]=System
GenericName[ta]=அமைப்பு
GenericName[tg]=Система
GenericName[th]=ระบบ
GenericName[tr]=Sistem
GenericName[uk]=Система
GenericName[vi]=Hệ thống
GenericName[wa]=Sistinme
GenericName[xh]=Indlela esestyenziswayo
GenericName[zh_CN]=系统
GenericName[zh_TW]=系統
GenericName[zu]=Isistimu

Exec=/sbin/yast2
Hidden=true
