[Desktop Entry]
X-SuSE-DocTeamID=ycc_org.opensuse.yast.Group.HighAvailability
Type=Application
Categories=Qt;X-SuSE-YaST;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true

X-SuSE-YaST-Group=High_Availability
X-SuSE-YaST-SortKey=20

OnlyShowIn=X-SuSE-YaST;
Icon=yast-high_availability-group

Name=High Availability
Name[ar]=إمكانية توفر عالية
Name[bg]=Висока наличност
Name[ca]=Alta disponibilitat
Name[cs]=Vysoká dostupnost
Name[da]=Høj tilgængelighed
Name[de]=Hochverfügbarkeit
Name[el]=Υψηλή διαθεσιμότητα
Name[es]=Alta disponibilidad
Name[et]=Töökindlus
Name[fi]=Korkea käytettävyys
Name[fr]=Haute disponibilité
Name[gl]=Alta dispoñibilidade
Name[hu]=Magas rendelkezésre állás
Name[id]=Ketersediaan Tinggi
Name[it]=Alta disponibilità
Name[ja]=高可用性
Name[km]=មាន​កម្រិត​ខ្ពស់​
Name[ko]=고가용성
Name[lt]=Didelis prieinamumas
Name[nb]=Høy tilgjengelighet
Name[nl]=Hoge beschikbaarheid
Name[pl]=Wysoka dostępność
Name[pt]=Alta Disponibilidade
Name[pt_BR]=Alta disponibilidade
Name[ro]=Disponibilitate ridicată
Name[ru]=Высокая доступность
Name[sk]=Vysoká dostupnosť
Name[sl]=Visoka razpoložljivost
Name[sv]=Hög tillgänglighet
Name[th]=ระบบที่มีเสถียรภาพสูง
Name[uk]=Висока доступність
Name[wa]=Hôte disponibilité
Name[zh_CN]=高可用性
Name[zh_TW]=高可用性
GenericName=High Availability
GenericName[ar]=إمكانية توفر عالية
GenericName[bg]=Висока наличност
GenericName[ca]=Alta disponibilitat
GenericName[cs]=Vysoká dostupnost
GenericName[da]=Høj tilgængelighed
GenericName[de]=Hochverfügbarkeit
GenericName[el]=Υψηλή διαθεσιμότητα
GenericName[es]=Alta disponibilidad
GenericName[et]=Töökindlus
GenericName[fi]=Korkea käytettävyys
GenericName[fr]=Haute disponibilité
GenericName[gl]=Alta dispoñibilidade
GenericName[hu]=Magas rendelkezésre állás
GenericName[id]=Ketersediaan Tinggi
GenericName[it]=Alta disponibilità
GenericName[ja]=高可用性
GenericName[km]=មាន​កម្រិត​ខ្ពស់​
GenericName[ko]=고가용성
GenericName[lt]=Didelis prieinamumas
GenericName[nb]=Høy tilgjengelighet
GenericName[nl]=Hoge beschikbaarheid
GenericName[pl]=Wysoka dostępność
GenericName[pt]=Alta Disponibilidade
GenericName[pt_BR]=Alta disponibilidade
GenericName[ro]=Disponibilitate ridicată
GenericName[ru]=Высокая доступность
GenericName[sk]=Vysoká dostupnosť
GenericName[sl]=Visoka razpoložljivost
GenericName[sv]=Hög tillgänglighet
GenericName[th]=ระบบที่มีเสถียรภาพสูง
GenericName[uk]=Висока доступність
GenericName[wa]=Hôte disponibilité
GenericName[zh_CN]=高可用性
GenericName[zh_TW]=高可用性

Exec=/sbin/yast2
Hidden=true
