[Desktop Entry]
X-SuSE-DocTeamID=ycc_org.opensuse.yast.Group.Misc
Type=Application
Categories=Qt;X-SuSE-YaST;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true

X-SuSE-YaST-Group=Misc
X-SuSE-YaST-SortKey=99

OnlyShowIn=X-SuSE-YaST;
Icon=yast-misc-group

Name=Miscellaneous
Name[af]=Verskeidenheid
Name[ar]=متنوع
Name[bg]=Разни
Name[ca]=Miscel·lània
Name[cs]=Různé
Name[da]=Diverse
Name[de]=Verschiedenes
Name[el]=Διάφορα
Name[es]=Miscelánea
Name[et]=Mitmesugust
Name[fi]=Sekalaiset
Name[fr]=Divers
Name[gl]=Miscelánea
Name[hr]=Razno
Name[hu]=Vegyes
Name[id]=Lain-lain
Name[it]=Varie
Name[ja]=その他
Name[km]=ផ្សេងៗ
Name[ko]=잡동사니
Name[lt]=Įvairūs
Name[mr]=किरकोळ
Name[nb]=Diverse
Name[nl]=Diversen
Name[pa]=ਫੁਟਕਲ
Name[pl]=Różne
Name[pt]=Vários
Name[pt_BR]=Diversos
Name[ro]=Diverse
Name[ru]=Разное
Name[sk]=Rôzne
Name[sl]=Razno
Name[sv]=Diverse
Name[ta]=பெயர்(எம்ஐஎஸ்ஸி.டெஸ்க்டாப்): இதர விஷயங்கள்
Name[th]=เบ็ดเตล็ด
Name[tr]=Çeşitli
Name[uk]=Різне
Name[wa]=Totes sôres
Name[xh]=Intlaninge
Name[zh_CN]=杂项
Name[zh_TW]=其他
GenericName=Miscellaneous
GenericName[af]=Verskeidenheid
GenericName[ar]=متنوع
GenericName[bg]=Разни
GenericName[ca]=Miscel·lània
GenericName[cs]=Různé
GenericName[da]=Diverse
GenericName[de]=Verschiedenes
GenericName[el]=Διάφορα
GenericName[es]=Miscelánea
GenericName[et]=Mitmesugust
GenericName[fi]=Sekalaiset
GenericName[fr]=Divers
GenericName[gl]=Miscelánea
GenericName[hr]=Razno
GenericName[hu]=Vegyes
GenericName[id]=Lain-lain
GenericName[it]=Varie
GenericName[ja]=その他
GenericName[km]=ផ្សេងៗ
GenericName[ko]=잡동사니
GenericName[lt]=Įvairūs
GenericName[mr]=किरकोळ
GenericName[nb]=Diverse
GenericName[nl]=Diversen
GenericName[pa]=ਫੁਟਕਲ
GenericName[pl]=Różne
GenericName[pt]=Vários
GenericName[pt_BR]=Diversos
GenericName[ro]=Diverse
GenericName[ru]=Разное
GenericName[sk]=Rôzne
GenericName[sl]=Razno
GenericName[sv]=Diverse
GenericName[ta]=பெயர்(எம்ஐஎஸ்ஸி.டெஸ்க்டாப்): இதர விஷயங்கள்
GenericName[th]=เบ็ดเตล็ด
GenericName[tr]=Çeşitli
GenericName[uk]=Різне
GenericName[wa]=Totes sôres
GenericName[xh]=Intlaninge
GenericName[zh_CN]=杂项
GenericName[zh_TW]=其他

Exec=/sbin/yast2
Hidden=true
