[Desktop Entry]
X-SuSE-DocTeamID=ycc_org.opensuse.yast.Group.Virtualization
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST-Virtualization;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true

X-SuSE-YaST-Group=Virtualization
X-SuSE-YaST-SortKey=60
X-SuSE-YaST-Keywords=vm,virtualization

OnlyShowIn=X-SuSE-YaST;
Icon=yast-vm-group

Name=Virtualization
Name[ar]=المحاكاة الافتراضية
Name[bg]=Виртуализация
Name[ca]=Virtualització
Name[cs]=Virtualizace
Name[da]=Virtualisering
Name[de]=Virtualisierung
Name[el]=Εικονικοποίηση
Name[es]=Virtualización
Name[fi]=Virtualisointi
Name[fr]=Virtualisation
Name[gl]=Virtualización
Name[hu]=Virtualizálás
Name[id]=Virtualisasi
Name[it]=Virtualizzazione
Name[ja]=仮想化
Name[ko]=가상화
Name[lt]=Virtualizacija
Name[nl]=Virtualisatie
Name[pl]=Wirtualizacja
Name[pt_BR]=Virtualização
Name[ro]=Virtualizare
Name[ru]=Виртуализация
Name[sk]=Virtualizácia
Name[sl]=Navidezni računalniki
Name[sv]=Virtualisering
Name[uk]=Віртуалізація
Name[zh_CN]=虚拟化
Name[zh_TW]=虛擬化
GenericName=Virtualization
GenericName[ar]=المحاكاة الافتراضية
GenericName[bg]=Виртуализация
GenericName[ca]=Virtualització
GenericName[cs]=Virtualizace
GenericName[da]=Virtualisering
GenericName[de]=Virtualisierung
GenericName[el]=Εικονικοποίηση
GenericName[es]=Virtualización
GenericName[fi]=Virtualisointi
GenericName[fr]=Virtualisation
GenericName[gl]=Virtualización
GenericName[hu]=Virtualizálás
GenericName[id]=Virtualisasi
GenericName[it]=Virtualizzazione
GenericName[ja]=仮想化
GenericName[ko]=가상화
GenericName[lt]=Virtualizacija
GenericName[nl]=Virtualisatie
GenericName[pl]=Wirtualizacja
GenericName[pt_BR]=Virtualização
GenericName[ro]=Virtualizare
GenericName[ru]=Виртуализация
GenericName[sk]=Virtualizácia
GenericName[sl]=Navidezni računalniki
GenericName[sv]=Virtualisering
GenericName[uk]=Віртуалізація
GenericName[zh_CN]=虚拟化
GenericName[zh_TW]=虛擬化

Exec=/sbin/yast2
Hidden=true

