[Desktop Entry]
X-SuSE-DocTeamID=ycc_org.opensuse.yast.Group.Security
Type=Application
Categories=Qt;X-SuSE-YaST;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true

X-SuSE-YaST-Group=Security
X-SuSE-YaST-SortKey=50

OnlyShowIn=X-SuSE-YaST;
Icon=yast-security-group

Name=Security and Users
Name[af]=Veiligheid en gebruikers
Name[ar]=الأمان والمستخدمون
Name[bg]=Сигурност и потребители
Name[ca]=Seguretat i usuaris
Name[cs]=Bezpečnost a uživatelé
Name[da]=Sikkerhed og brugere
Name[de]=Sicherheit und Benutzer
Name[el]=Ασφάλεια και χρήστες
Name[es]=Seguridad y usuarios
Name[et]=Turvalisus ja kasutajad
Name[fi]=Tietoturva ja käyttäjät
Name[fr]=Sécurité et Utilisateurs
Name[gl]=Seguridade e usuarios
Name[hr]=Sigurnost i korisnici
Name[hu]=Biztonság és felhasználók
Name[id]=Keamanan dan Pengguna
Name[it]=Sicurezza e utenti
Name[ja]=セキュリティとユーザ
Name[km]=សុវត្ថិភាព និង​អ្នក​ប្រើ
Name[ko]=보안 및 사용자
Name[lt]=Saugumas ir naudotojai
Name[nb]=Sikkerhet og brukere
Name[nl]=Beveiliging en gebruikers
Name[pa]=ਸੁਰੱਖਿਆ ਅਤੇ ਯੂਜ਼ਰ
Name[pl]=Zabezpieczenia i użytkownicy
Name[pt]=Segurança e Utilizadores
Name[pt_BR]=Segurança e usuários
Name[ro]=Securitate și utilizatori
Name[ru]=Безопасность и пользователи
Name[sk]=Bezpečnosť a používatelia
Name[sl]=Varnost in uporabniki
Name[sv]=Säkerhet och användare
Name[ta]=பெயர்(செக்யூரிட்டி.டெஸ்க்டாப்): பாதுகாப்பு மற்றும் பயனாளர்கள்
Name[th]=ความปลอดภัยและผู้ใช้งาน
Name[tr]=Güvenlik ve Kullanıcılar
Name[uk]=Безпека і користувачі
Name[wa]=Såvrité eyet uzeus
Name[xh]=Ukhuseleko ngokunjalo Abasebenzisi
Name[zh_CN]=安全和用户
Name[zh_TW]=保全性與使用者
GenericName=Security and Users
GenericName[af]=Veiligheid en gebruikers
GenericName[ar]=الأمان والمستخدمون
GenericName[bg]=Сигурност и потребители
GenericName[ca]=Seguretat i usuaris
GenericName[cs]=Bezpečnost a uživatelé
GenericName[da]=Sikkerhed og brugere
GenericName[de]=Sicherheit und Benutzer
GenericName[el]=Ασφάλεια και χρήστες
GenericName[es]=Seguridad y usuarios
GenericName[et]=Turvalisus ja kasutajad
GenericName[fi]=Tietoturva ja käyttäjät
GenericName[fr]=Sécurité et Utilisateurs
GenericName[gl]=Seguridade e usuarios
GenericName[hr]=Sigurnost i korisnici
GenericName[hu]=Biztonság és felhasználók
GenericName[id]=Keamanan dan Pengguna
GenericName[it]=Sicurezza e utenti
GenericName[ja]=セキュリティとユーザ
GenericName[km]=សុវត្ថិភាព និង​អ្នក​ប្រើ
GenericName[ko]=보안 및 사용자
GenericName[lt]=Saugumas ir naudotojai
GenericName[nb]=Sikkerhet og brukere
GenericName[nl]=Beveiliging en gebruikers
GenericName[pa]=ਸੁਰੱਖਿਆ ਅਤੇ ਯੂਜ਼ਰ
GenericName[pl]=Zabezpieczenia i użytkownicy
GenericName[pt]=Segurança e Utilizadores
GenericName[pt_BR]=Segurança e usuários
GenericName[ro]=Securitate și utilizatori
GenericName[ru]=Безопасность и пользователи
GenericName[sk]=Bezpečnosť a používatelia
GenericName[sl]=Varnost in uporabniki
GenericName[sv]=Säkerhet och användare
GenericName[ta]=பெயர்(செக்யூரிட்டி.டெஸ்க்டாப்): பாதுகாப்பு மற்றும் பயனாளர்கள்
GenericName[th]=ความปลอดภัยและผู้ใช้งาน
GenericName[tr]=Güvenlik ve Kullanıcılar
GenericName[uk]=Безпека і користувачі
GenericName[wa]=Såvrité eyet uzeus
GenericName[xh]=Ukhuseleko ngokunjalo Abasebenzisi
GenericName[zh_CN]=安全和用户
GenericName[zh_TW]=保全性與使用者

Exec=/sbin/yast2
Hidden=true
