[Desktop Entry]
X-SuSE-DocTeamID=ycc_org.opensuse.yast.Group.Software
Type=Application
Categories=Qt;X-SuSE-YaST;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true

X-SuSE-YaST-Group=Software
X-SuSE-YaST-SortKey=10

OnlyShowIn=X-SuSE-YaST;
Icon=yast-software-group

Name=Software
Name[ar]=برنامج
Name[bg]=Софтуер
Name[ca]=Programari
Name[cs]=Software
Name[da]=Software
Name[de]=Software
Name[el]=Λογισμικό
Name[es]=Software
Name[et]=Tarkvara
Name[fi]=Ohjelmistot
Name[fr]=Logiciel
Name[gl]=Software
Name[hr]=Programi
Name[hu]=Szoftver
Name[id]=Perangkat Lunak
Name[it]=Software
Name[ja]=ソフトウエア
Name[km]=កម្មវិធី
Name[ko]=소프트웨어
Name[lt]=Programinė įranga
Name[nb]=Programvare
Name[nl]=Software
Name[pa]=ਸਾਫਟਵੇਅਰ
Name[pl]=Oprogramowanie
Name[pt]=Software
Name[pt_BR]=Software
Name[ro]=Software
Name[ru]=Программное обеспечение
Name[sk]=Softvér
Name[sl]=Programska oprema
Name[sv]=Program
Name[th]=ซอฟต์แวร์
Name[tr]=Yazılım
Name[uk]=Програми
Name[wa]=Programe
Name[zh_CN]=软件
Name[zh_TW]=軟體
GenericName=Software
GenericName[ar]=برنامج
GenericName[bg]=Софтуер
GenericName[ca]=Programari
GenericName[cs]=Software
GenericName[da]=Software
GenericName[de]=Software
GenericName[el]=Λογισμικό
GenericName[es]=Software
GenericName[et]=Tarkvara
GenericName[fi]=Ohjelmistot
GenericName[fr]=Logiciel
GenericName[gl]=Software
GenericName[hr]=Programi
GenericName[hu]=Szoftver
GenericName[id]=Perangkat Lunak
GenericName[it]=Software
GenericName[ja]=ソフトウエア
GenericName[km]=កម្មវិធី
GenericName[ko]=소프트웨어
GenericName[lt]=Programinė įranga
GenericName[nb]=Programvare
GenericName[nl]=Software
GenericName[pa]=ਸਾਫਟਵੇਅਰ
GenericName[pl]=Oprogramowanie
GenericName[pt]=Software
GenericName[pt_BR]=Software
GenericName[ro]=Software
GenericName[ru]=Программное обеспечение
GenericName[sk]=Softvér
GenericName[sl]=Programska oprema
GenericName[sv]=Program
GenericName[th]=ซอฟต์แวร์
GenericName[tr]=Yazılım
GenericName[uk]=Програми
GenericName[wa]=Programe
GenericName[zh_CN]=软件
GenericName[zh_TW]=軟體

Exec=/sbin/yast2
Hidden=true
